workflows/backup workflows on GitHub-rWVDcWHdJ8T2sdzB.n8n.json
{"createdAt":"2025-04-29T07:08:27.277Z","updatedAt":"2025-04-29T09:20:35.000Z","id":"rWVDcWHdJ8T2sdzB","name":"backup workflows on GitHub","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1120,-160],"id":"4e847cf7-44be-4677-8f91-9cf8527026fe","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-940,-160],"id":"0756788b-4fd7-46f5-80c8-0b6cc9e0b53e","name":"n8n","credentials":{"n8nApi":{"id":"Hwg4Ab3DRt3mp3jL","name":"n8n account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-760,-160],"id":"964cbbe6-ad6d-4110-95da-9451f2b50405","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c5ef2f3b-ad41-45d6-8e94-2a655e97dfe7","leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-560,-200],"id":"166fefbe-b9a6-4328-a84c-80aba0d4ca6e","name":"If"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"ashwani-IA","mode":"list","cachedResultName":"ashwani-IA","cachedResultUrl":"https://github.com/ashwani-IA"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashwani-IA/n8n-workflows"},"filePath":"=workflows/{{ $('n8n').item.json.name }}-{{ $('n8n').item.json.id }}.n8n.json","asBinaryProperty":false,"additionalParameters":{}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-580,0],"id":"220354c7-1e50-4945-b777-a1bad04efda5","name":"get file","webhookId":"6605c33c-fb01-45cc-a118-c42c2c8b3fd7","credentials":{"githubApi":{"id":"enaNXDMclpFoh1UR","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ashwani-IA","mode":"list","cachedResultName":"ashwani-IA","cachedResultUrl":"https://github.com/ashwani-IA"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashwani-IA/n8n-workflows"},"filePath":"=workflows/{{ $('n8n').item.json.name }}-{{ $('n8n').item.json.id }}.n8n.json","fileContent":"={{ JSON.stringify($('n8n').item.json) }}","commitMessage":"=backed up: {{ $('n8n').item.json.name }}-{{ $('n8n').item.json.id }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-260,-100],"id":"7df0efa2-1a94-4834-bc41-c36067850c41","name":"create new file","webhookId":"ec424aca-b040-4512-b5d0-90d41bbae8b3","credentials":{"githubApi":{"id":"enaNXDMclpFoh1UR","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ashwani-IA","mode":"list","cachedResultName":"ashwani-IA","cachedResultUrl":"https://github.com/ashwani-IA"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/ashwani-IA/n8n-workflows"},"filePath":"={{ $json.path }}","fileContent":"={{ JSON.stringify($('n8n').item.json) }}","commitMessage":"=updated {{ $('Loop Over Items').item.json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-260,-320],"id":"204dc78c-d7f1-4b52-95e1-f7fc8b01c506","name":"update file","webhookId":"160303a1-71a9-4574-a4b6-9169bce78153","credentials":{"githubApi":{"id":"enaNXDMclpFoh1UR","name":"GitHub account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"get file","type":"main","index":0}]]},"If":{"main":[[{"node":"update file","type":"main","index":0}],[{"node":"create new file","type":"main","index":0}]]},"get file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"create new file":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[20]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d19fe6fc-8545-4c24-b90a-c528455f59c3","triggerCount":1,"tags":[]}