workflows/get customer order data-LdzllH4oj6UM6Ie6.n8n.json
{"createdAt":"2025-04-24T11:51:13.973Z","updatedAt":"2025-04-28T16:04:37.896Z","id":"LdzllH4oj6UM6Ie6","name":"get customer order data","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"email"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1160,-100],"id":"d7586b7c-c8eb-4c5c-9c3a-5f423c06ee33","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=hi please find the order details for the following email address: {{ $json.email }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-520,-100],"id":"80b473d8-cc63-42f4-b47e-b68310a1f101","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-620,120],"id":"ae1c8bce-422b-4f2c-9d51-e81c3e6a5d1d","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"1234"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-440,120],"id":"fbe34f2d-8e95-49c2-9ddc-117124b65df5","name":"Simple Memory"},{"parameters":{"toolDescription":"get the details of user using their email address","method":"POST","url":"https://sugarmds.com/server/shopifyGraphql","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"\\n  query getCustomerByEmail($email: String!) {\\n    customers(first: 1, query: $email) {\\n      nodes {\\n        id\\n        email\\n        firstName\\n        lastName\\n        state\\n      }\\n    }\\n  }\",\n  \"variables\": {\n    \"email\": \"email:{emailAddress}\"\n  }\n}\n","placeholderDefinitions":{"values":[{"name":"emailAddress","description":"email address of the user "}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-340,300],"id":"50532fec-8f6e-417c-9722-fa06d2dcf570","name":"get user details using emailId"},{"parameters":{"descriptionType":"manual","toolDescription":"get order details using order id ","authentication":"accessToken","operation":"get","orderId":"={{ $fromAI('Order_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.shopifyTool","typeVersion":1,"position":[-80,160],"id":"0788fb37-c5d1-4697-8f7f-f871a700d74d","name":"Shopify","credentials":{"shopifyAccessTokenApi":{"id":"XPte4sx1G8oBM9l6","name":"sugarmd"}}},{"parameters":{"toolDescription":"get order details using order name","method":"POST","url":"https://sugarmds.com/server/shopifyGraphql","sendBody":true,"parametersBody":{"values":[{}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[300,60],"id":"87df832e-18cf-4631-84dd-e55254de30ae","name":"HTTP Request"},{"parameters":{"toolDescription":"get the global ids of last 50 orders that the user has placed. you need to extract the numeric id of the order from the global id","method":"POST","url":"https://sugarmds.com/server/shopifyGraphql","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"query\": \"\\n  query orderdetailsbyname($customerId: ID!) {\\n    customer(id: $customerId) {\\n      orders(first: 50, reverse: true) {\\n        edges {\\n          node {\\n            id\\n                      }\\n        }\\n      }\\n    }\\n  }\",\n  \"variables\": {\n    \"customerId\": \"{customerId}\"\n  }\n}\n","placeholderDefinitions":{"values":[{"name":"customerId","description":"customerId that can be found using the user details node"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-180,300],"id":"d3e012c6-fc53-4db1-be74-5f6f03d7d57e","name":"get orders using user details"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"get user details using emailId":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Shopify":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"HTTP Request":{"ai_tool":[[]]},"get orders using user details":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa7e0019-3697-4f2c-9419-8e488c4cc77e","triggerCount":1,"tags":[]}