workflows/gmail triggered customer support-NVFPWfF6xfbjc5n4.n8n.json
{"createdAt":"2025-04-28T09:42:53.859Z","updatedAt":"2025-04-30T11:01:00.111Z","id":"NVFPWfF6xfbjc5n4","name":"gmail triggered customer support","active":true,"nodes":[{"parameters":{"promptType":"define","text":"=my email address is {{$json[\"From\"].match(/<(.*)>/)[1]}} and my query is ${{$json.snippet.split(/On |From:|Sent:|Subject:|-----Original Message-----/)[0].trim()}}\n","options":{"systemMessage":"=You are a helpful customer support assistant for the ecommerce store SugarMD, which sells medicines and health supplements. Today is {{ $now }}.\n\nYou will receive an incoming email.\n\nIf the email is a customer inquiry (for example, about an order, shipping, product, refund, or account), then respond helpfully and politely.\n\nIf the email is not a customer inquiry (for example, marketing emails, spam, newsletters, status updates), mark it as NOT a customer inquiry.\n\nYou must always output your response only as a JSON object in the following format:\n\n{\n  \"customer_inquiry\": true or false,\n  \"Message\": {\n\"subject\":<subject>,\n\"body\":<drafted HTML reply here>}\n}\n\nThe customer_inquiry field must be either true or false (no quotes).\n\nThe Message field must contain a short, polite, HTML-formatted email response to the customer if it is an inquiry.It shouild also contain an appropriate subject\n\nIf customer_inquiry is false, set the Message to an empty string (\"\").\n\nAdditionally:\n\nYou can use the get_order_data tool if the customer is asking about their order. You must call it with the customer's email address.\n\nImportant:\n\nOnly output the JSON object.\n\nDo not output any explanation, notes, or extra text."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-1260,-300],"id":"78ee601e-8ba8-4539-9580-871744f8b417","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-1460,-40],"id":"d347e7e0-7927-4950-b9d1-c0d7010e509f","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"readStatus":"unread"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1720,-300],"id":"f06ca073-16b1-414d-89ad-5a112d13cec3","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"EwF6ERi3Nf5ZsHWm","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1500,-300],"id":"da46a5bd-e4c7-4cbc-aea7-371f34f38b6b","name":"get message ","webhookId":"be1c061f-8056-49ac-99ef-987ff5e41297","credentials":{"gmailOAuth2":{"id":"EwF6ERi3Nf5ZsHWm","name":"Gmail account"}}},{"parameters":{"name":"get_order_data","description":"call this tool to get shopify customer order data. the input must provide an email to identify the customer","workflowId":{"__rl":true,"value":"LdzllH4oj6UM6Ie6","mode":"list","cachedResultName":"get costomer order data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_name","displayName":"order_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-1160,-40],"id":"e2611877-401d-48df-a2b6-871ebf2fbbb0","name":"get user's order data"},{"parameters":{"sendTo":"={{ $('get message ').item.json.From.match(/<(.*)>/)[1] }}","subject":"={{JSON.parse($json.output).Message.subject}}","message":"={{JSON.parse($json.output).Message.body}}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-540,-320],"id":"a5f55100-82d5-4857-b080-f93a235b3f38","name":"Gmail","webhookId":"0bc00bdf-c23b-4603-bc49-bd0f3aa9b32b","credentials":{"gmailOAuth2":{"id":"EwF6ERi3Nf5ZsHWm","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7d366820-aece-4b08-86ea-045e9d3f6331","leftValue":"={{ JSON.parse($json.output).customer_inquiry}}\n","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,-300],"id":"efb07345-cc29-4ff4-a1ed-a849e9070f61","name":"If"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$json[\"From\"].match(/<(.*)>/)[1]}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1320,-40],"id":"c548a6e0-2969-4eb6-a423-6aa5dad7f021","name":"Simple Memory"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-1120,180],"id":"16ebc38b-1cef-42f9-9e66-64aa4433ec31","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"model":"inteltextembeddingada002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[-1080,340],"id":"694649d6-b0c2-446c-8d8f-9787fb7c6934","name":"Embeddings Azure OpenAI","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-820,180],"id":"547ac066-e7df-44a5-bb16-8d6674176713","name":"Azure OpenAI Chat Model1","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"name":"user_documents","description":"contains the store's policies on shipping and returns"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-1000,-40],"id":"802b3d87-4fb6-4f2a-b37b-34655c46c269","name":"retrieve documents"}],"connections":{"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"get message ","type":"main","index":0}]]},"get message ":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"get user's order data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"retrieve documents","type":"ai_vectorStore","index":0}]]},"Embeddings Azure OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Azure OpenAI Chat Model1":{"ai_languageModel":[[{"node":"retrieve documents","type":"ai_languageModel","index":0}]]},"retrieve documents":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1746011190,"possibleDuplicates":["19686609ec621600","19686593794f5e9c"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f7a418a-acf7-4361-895b-132f879b1ef4","triggerCount":1,"tags":[]}