workflows/gmail triggered customer support-NVFPWfF6xfbjc5n4.n8n.json
{"createdAt":"2025-04-28T09:42:53.859Z","updatedAt":"2025-04-30T06:26:06.901Z","id":"NVFPWfF6xfbjc5n4","name":"gmail triggered customer support","active":true,"nodes":[{"parameters":{"promptType":"define","text":"=my email address is {{$json[\"From\"].match(/<(.*)>/)[1]}} and my query is ${{$json.snippet.split(/On |From:|Sent:|Subject:|-----Original Message-----/)[0].trim()}}\n","options":{"systemMessage":"=You are a helpful customer support assistant for the ecommerce store SugarMD, which sells medicines and health supplements. Today is {{ $now }}.\n\nYou will receive an incoming email.\n\nIf the email is a customer inquiry (for example, about an order, shipping, product, refund, or account), then respond helpfully and politely.\n\nIf the email is not a customer inquiry (for example, marketing emails, spam, newsletters, status updates), mark it as NOT a customer inquiry.\n\nYou must always output your response only as a JSON object in the following format:\n\n{\n  \"customer_inquiry\": true or false,\n  \"Message\": {\n\"subject\":<subject>,\n\"body\":<drafted HTML reply here>}\n}\n\nThe customer_inquiry field must be either true or false (no quotes).\n\nThe Message field must contain a short, polite, HTML-formatted email response to the customer if it is an inquiry.It shouild also contain an appropriate subject\n\nIf customer_inquiry is false, set the Message to an empty string (\"\").\n\nAdditionally:\n\nYou can use the get_order_data tool if the customer is asking about their order. You must call it with the customer's email address.\n\nImportant:\n\nOnly output the JSON object.\n\nDo not output any explanation, notes, or extra text."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-780,-140],"id":"78ee601e-8ba8-4539-9580-871744f8b417","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-920,260],"id":"d347e7e0-7927-4950-b9d1-c0d7010e509f","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"descriptionType":"manual","toolDescription":"this tool has all the data about the products available on the store\n","authentication":"accessToken","resource":"product","operation":"getAll","additionalFields":{}},"type":"n8n-nodes-base.shopifyTool","typeVersion":1,"position":[-640,260],"id":"ae5956dd-8656-4cc2-a6d8-d8461f24d95a","name":"Shopify","credentials":{"shopifyAccessTokenApi":{"id":"py2JQ4BILXFybIgI","name":"Shopify Access Token account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"readStatus":"unread"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1240,-140],"id":"f06ca073-16b1-414d-89ad-5a112d13cec3","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"EwF6ERi3Nf5ZsHWm","name":"Gmail account"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1020,-140],"id":"da46a5bd-e4c7-4cbc-aea7-371f34f38b6b","name":"get message ","webhookId":"be1c061f-8056-49ac-99ef-987ff5e41297","credentials":{"gmailOAuth2":{"id":"EwF6ERi3Nf5ZsHWm","name":"Gmail account"}}},{"parameters":{"name":"get_order_data","description":"call this tool to get shopify customer order data. the input must provide an email to identify the customer","workflowId":{"__rl":true,"value":"LdzllH4oj6UM6Ie6","mode":"list","cachedResultName":"get costomer order data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_name","displayName":"order_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[-460,260],"id":"e2611877-401d-48df-a2b6-871ebf2fbbb0","name":"get user's order data"},{"parameters":{"sendTo":"={{ $('get message ').item.json.From.match(/<(.*)>/)[1] }}","subject":"=","message":"={{JSON.parse($json.output).Message}}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-60,-160],"id":"a5f55100-82d5-4857-b080-f93a235b3f38","name":"Gmail","webhookId":"0bc00bdf-c23b-4603-bc49-bd0f3aa9b32b","credentials":{"gmailOAuth2":{"id":"EwF6ERi3Nf5ZsHWm","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"7d366820-aece-4b08-86ea-045e9d3f6331","leftValue":"={{ JSON.parse($json.output).customer_inquiry}}\n","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,-140],"id":"efb07345-cc29-4ff4-a1ed-a849e9070f61","name":"If"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$json[\"From\"].match(/<(.*)>/)[1]}}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-780,260],"id":"c548a6e0-2969-4eb6-a423-6aa5dad7f021","name":"Simple Memory"}],"connections":{"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Shopify":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"get message ","type":"main","index":0}]]},"get message ":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"get user's order data":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1745854124,"possibleDuplicates":["1967d03e19c3d8ff"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"697026f1-6742-4b33-9d78-9a370914853e","triggerCount":1,"tags":[]}