workflows/intent router-uvbadtZ8bVwUdhlJ.n8n.json
{"createdAt":"2025-05-19T07:26:44.376Z","updatedAt":"2025-05-20T05:47:01.483Z","id":"uvbadtZ8bVwUdhlJ","name":"intent router","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"intentIdentification","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-640,-20],"id":"a6caaa11-adb5-4f05-bef0-43874e9438ed","name":"Webhook","webhookId":"2dc08b0b-5d0d-4588-9cf3-d3abe6a3a722"},{"parameters":{"promptType":"define","text":"=identify the intent of user, the user said \"{{ $json.body.user_query }}\"\n","options":{"systemMessage":"=you are an intelligent multi lingual person. you will be given a phrase or a question. you have to identify the intent of that message and classify it among the following list of intents.\n\nintents=[\"collabration\",\n        \"discount\",\n        \"payment\",\n        \"shipping\",\n        \"whatsapp\",\n        \"saas_about\",\n        \"saas_demo\",\n        \"saas_clients\",\n        \"saas_support\",\n        \"1577_cro\",\n        \"1577_productai\",\n        \"1577_socialproof\",\n        \"human\",\n        \"intent\",\n        \"OrderStatus\",\n        \"ReturnPolicy\",\n        \"DealsCashbackAndOffers\",\n        \"InfoAboutBrand\",\n        \"ShippingPossible\",\n        \"CashOnDelivery\",\n        \"fallback\",\n        \"StopWords\",\n        \"WelcomeIntent\",\n        \"ProductRelateQuery\",\n        \"cancel\"]\n\nyou shall strictly respond with an object as follows:\n\n{\nuser_id: {{ $json.body.user_Id }},\nemail:{{ $json.body.email }},\nintent:<the identified one word intent>\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-420,-20],"id":"0bb8930a-2436-4ae7-b4d9-94367d5d79ef","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-440,200],"id":"d70baad7-40aa-4ec0-9f3e-3059f252fa17","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.user_Id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-320,200],"id":"9becdbe3-530c-40ce-a3ca-45f703b42e9f","name":"Simple Memory"},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\n# for item in _input.all():\n#   item.json.myNewField = 1\n# return _input.all()\n\nimport re\nimport json\n\nraw = _input.first().json.output\ncleaned = re.sub(r'```json\\s*|```', '', raw).strip()\ncleaned = re.sub(r'(\\w+):', r'\"\\1\":', cleaned)\ncleaned = re.sub(r': ([^\",{}\\s\\n]+)(?=[,\\n}])', r': \"\\1\"', cleaned)\nparsed = json.loads(cleaned)\n\nprint(parsed)\nreturn parsed"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,-20],"id":"e4e4b6f4-2963-487a-ae83-d08b0da401e5","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.intent }}","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"016aa61d-3f52-431a-a70f-23dcc02b4dc2"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1081a719-4396-48da-85c1-f0d757fb4a1f","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[160,-20],"id":"a9c9df91-4c59-498a-9c6b-f40a80cc9343","name":"Switch"}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"998cb7f3-eacf-482b-8671-125eea2440d9","triggerCount":0,"tags":[]}