workflows/landing page generation-9AjuNmghVrj6UQRc.n8n.json
{"createdAt":"2025-05-20T05:59:08.416Z","updatedAt":"2025-05-23T06:12:56.649Z","id":"9AjuNmghVrj6UQRc","name":"landing page generation","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"generateLandingPage","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-920,-140],"id":"2cd4a175-dbad-4745-889d-0c9736da4e9b","name":"Webhook","webhookId":"44de3bc7-e66f-4b9b-9039-02433a1c205f"},{"parameters":{"jsCode":"// const metadata = $input.first().json.body.product\n// const external_product_id = $input.first().json.body.product.id\n// const ecomm_solution = \"shopify\"\n// const name = $input.first().json.body.product.title\n// const price = $input.first().json.body.product.variants[0].price\n\nconst input = $input.first().json.product\n\nconst productData = {\n  org_id: 50,\n  ecomm_solution: \"shopify\",\n  external_product_id: input.id,\n  name: input.title,\n  metadata: input,\n  price: input.variants[0].price\n};\n\nreturn productData\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-580,-140],"id":"ee9b7d47-ea9c-4189-b81a-56c7f5b76432","name":"Code"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"columns":{"mappingMode":"defineBelow","value":{"org_id":"={{ $('Code').item.json.org_id }}","external_product_id":"={{ $('Code').item.json.external_product_id }}","ecomm_solution":"={{ $('Code').item.json.ecomm_solution }}","name":"={{ $('Code').item.json.name }}","price":"={{ $('Code').item.json.price }}","metadata":"={{ $('Code').item.json.metadata }}"},"matchingColumns":[],"schema":[{"id":"pid","displayName":"pid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"org_id","displayName":"org_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"ecomm_solution","displayName":"ecomm_solution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"external_product_id","displayName":"external_product_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ratings","displayName":"ratings","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"ai_metadata","displayName":"ai_metadata","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ai_metadata_amz","displayName":"ai_metadata_amz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-80,40],"id":"24db823b-d26d-4362-81f9-b9c08f6df242","name":"Postgres","credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"url":"={{ $json.body.product_link }}.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-140],"id":"24abe5fa-6237-4e42-a791-9a682ff911c9","name":"fetch product details"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4d7cc727-eec8-4aa4-8edd-9686b3a5871e","leftValue":"={{ $json.pid }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,-140],"id":"5f42b762-c8ac-419c-bd12-71291a16a15a","name":"If"},{"parameters":{"jsCode":"// const productId= $input.first().json.pid\n\nconst result = {\n  productId : $input.first().json.pid,\n  adId:$input.first().json.id\n}\nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,-160],"id":"a50f90ca-b441-44f8-8a6e-e899da15f1d7","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"select pid from products where external_product_id= '{{ $json.external_product_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-420,-140],"id":"8bab5a34-3cec-4122-ac60-0ffcb1cc12e2","name":"check if product already in db","alwaysOutputData":true,"credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"http://20.15.160.109:8000/scrapeAdByUrl","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"url\": \"{{ $('Webhook').item.json.body.ad_url }}\",\n   \"max_retries\": 3,\n   \"retry_delay\": 5,\n   \"page_load_timeout\": 30,\n   \"num_scrolls\": 10,\n\"product_id\": 42\n } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-160],"id":"2a1fbcd8-ef8f-487d-aabf-72b1d6b6f2bd","name":"HTTP Request"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meta_ad_details_scrapping","mode":"list","cachedResultName":"meta_ad_details_scrapping"},"columns":{"mappingMode":"defineBelow","value":{"ad_id":"={{ $json.ad_id }}","ad_name":"={{ $json.ad_name }}","ad_type":"={{ $json.ad_type }}","status":"={{ $json.status }}","creative_url":"={{ $json.creative_url }}","start_date":"={{ $json.start_date }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ad_id","displayName":"ad_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ad_name","displayName":"ad_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ad_type","displayName":"ad_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ad_spends","displayName":"ad_spends","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"impressions","displayName":"impressions","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"reach","displayName":"reach","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"frequency","displayName":"frequency","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"clicks","displayName":"clicks","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"outbound_clicks","displayName":"outbound_clicks","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"ctr","displayName":"ctr","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cpc","displayName":"cpc","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cpm","displayName":"cpm","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cpp","displayName":"cpp","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"purchase_roas","displayName":"purchase_roas","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"stop_date","displayName":"stop_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"actions","displayName":"actions","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"video_data","displayName":"video_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"creative_data","displayName":"creative_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"creative_url","displayName":"creative_url","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"campaign_id","displayName":"campaign_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"creative_id","displayName":"creative_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"purchases","displayName":"purchases","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"engagement","displayName":"engagement","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"percentage_engagement","displayName":"percentage_engagement","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"page_likes","displayName":"page_likes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"comments","displayName":"comments","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cost_per_engagement","displayName":"cost_per_engagement","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cost_per_thruplay","displayName":"cost_per_thruplay","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"ctr_outbound","displayName":"ctr_outbound","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"video_avg_play_time","displayName":"video_avg_play_time","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"thruplay","displayName":"thruplay","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"hold_rate","displayName":"hold_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"video_25_play_rate","displayName":"video_25_play_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"video_50_play_rate","displayName":"video_50_play_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"video_75_play_rate","displayName":"video_75_play_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"video_100_play_rate","displayName":"video_100_play_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"first_frame_retention","displayName":"first_frame_retention","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"click_to_atc_ratio","displayName":"click_to_atc_ratio","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"atc_to_purchase_ratio","displayName":"atc_to_purchase_ratio","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"website_purchase_roas","displayName":"website_purchase_roas","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"click_to_purchase","displayName":"click_to_purchase","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"aov","displayName":"aov","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"aov_website","displayName":"aov_website","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"hook_score","displayName":"hook_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"watch_score","displayName":"watch_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"engagement_score","displayName":"engagement_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"click_score","displayName":"click_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"convert_score","displayName":"convert_score","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cpa","displayName":"cpa","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"twenty_five_percent_plays","displayName":"twenty_five_percent_plays","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"see_more_rate","displayName":"see_more_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"total_reactions","displayName":"total_reactions","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"purchases_per_1000_impressions","displayName":"purchases_per_1000_impressions","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"ipm","displayName":"ipm","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"likes_per_1000","displayName":"likes_per_1000","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"thumbstop_rate","displayName":"thumbstop_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"thumbstop_click_rate","displayName":"thumbstop_click_rate","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"percentage_comments","displayName":"percentage_comments","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"percentage_likes","displayName":"percentage_likes","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"link_click","displayName":"link_click","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"ctr_link_click","displayName":"ctr_link_click","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cpc_link_click","displayName":"cpc_link_click","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"cpc_outbound_link_click","displayName":"cpc_outbound_link_click","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"click_to_website_purchase","displayName":"click_to_website_purchase","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"targeting","displayName":"targeting","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true},{"id":"action_values","displayName":"action_values","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,-160],"id":"da9fab5c-2f47-4f64-9cb2-82b0f3792d91","name":"Postgres1","credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"url":"=https://pythonservernew.azurewebsites.net/api/landing_page_temp/{{ $('Code1').item.json.productId }}/{{ $json.ad_id }}/{{ $('Webhook').item.json.body.ad_type }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,-160],"id":"3e03ad7b-6992-4e09-906b-0f9db989e7de","name":"HTTP Request1"}],"connections":{"Webhook":{"main":[[{"node":"fetch product details","type":"main","index":0}]]},"Code":{"main":[[{"node":"check if product already in db","type":"main","index":0}]]},"fetch product details":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Postgres","type":"main","index":0}]]},"check if product already in db":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ba7e5053-8d2d-43da-a122-9db8fe865c87","triggerCount":1,"tags":[]}