workflows/landing page generation-9AjuNmghVrj6UQRc.n8n.json
{"createdAt":"2025-05-20T05:59:08.416Z","updatedAt":"2025-06-03T16:54:53.812Z","id":"9AjuNmghVrj6UQRc","name":"landing page generation","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"generateLandingPage","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-920,-140],"id":"2cd4a175-dbad-4745-889d-0c9736da4e9b","name":"Webhook","webhookId":"44de3bc7-e66f-4b9b-9039-02433a1c205f"},{"parameters":{"jsCode":"// const metadata = $input.first().json.body.product\n// const external_product_id = $input.first().json.body.product.id\n// const ecomm_solution = \"shopify\"\n// const name = $input.first().json.body.product.title\n// const price = $input.first().json.body.product.variants[0].price\n\nconst input = $input.first().json.product\n\nconst productData = {\n  org_id: 22,\n  ecomm_solution: \"shopify\",\n  external_product_id: 9957890490660,\n  name: input.title,\n  metadata: input,\n  price: input.variants[0].price\n};\n\nreturn productData\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-600,-140],"id":"ee9b7d47-ea9c-4189-b81a-56c7f5b76432","name":"Code"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"columns":{"mappingMode":"defineBelow","value":{"org_id":"={{ $('Code').item.json.org_id }}","external_product_id":"={{ $('Code').item.json.external_product_id }}","ecomm_solution":"={{ $('Code').item.json.ecomm_solution }}","name":"={{ $('Code').item.json.name }}","price":"={{ $('Code').item.json.price }}","metadata":"={{ $('Code').item.json.metadata }}"},"matchingColumns":[],"schema":[{"id":"pid","displayName":"pid","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"org_id","displayName":"org_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"ecomm_solution","displayName":"ecomm_solution","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"external_product_id","displayName":"external_product_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"metadata","displayName":"metadata","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"price","displayName":"price","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ratings","displayName":"ratings","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"ai_metadata","displayName":"ai_metadata","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ai_metadata_amz","displayName":"ai_metadata_amz","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-180,40],"id":"24db823b-d26d-4362-81f9-b9c08f6df242","name":"Postgres","credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"url":"={{ $json.body.product_link }}.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-740,-140],"id":"24abe5fa-6237-4e42-a791-9a682ff911c9","name":"fetch product details"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"4d7cc727-eec8-4aa4-8edd-9686b3a5871e","leftValue":"={{ $json.pid }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-140],"id":"5f42b762-c8ac-419c-bd12-71291a16a15a","name":"If"},{"parameters":{"jsCode":"// const productId= $input.first().json.pid\n\nconst result = {\n  productId : $input.first().json.pid,\n  adId:$input.first().json.id\n}\nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-40,-160],"id":"a50f90ca-b441-44f8-8a6e-e899da15f1d7","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"select pid from products where external_product_id= '{{ $json.external_product_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-460,-140],"id":"8bab5a34-3cec-4122-ac60-0ffcb1cc12e2","name":"check if product already in db","alwaysOutputData":true,"credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"http://win.intelliassist.co:8000/scrapeAdByUrl","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"url\": \"{{ $('Webhook').item.json.body.ad_url }}\",\n   \"max_retries\": 3,\n   \"retry_delay\": 5,\n   \"page_load_timeout\": 30,\n   \"num_scrolls\": 10,\n\"product_id\": 42\n } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,-160],"id":"2a1fbcd8-ef8f-487d-aabf-72b1d6b6f2bd","name":"HTTP Request"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"meta_ad_details_scrapping","mode":"list","cachedResultName":"meta_ad_details_scrapping"},"columns":{"mappingMode":"defineBelow","value":{"ad_id":"={{ $('HTTP Request').item.json.ad_id }}","ad_name":"={{ $('HTTP Request').item.json.ad_name }}","ad_type":"={{ $('HTTP Request').item.json.ad_type }}","status":"={{ $('HTTP Request').item.json.status }}","creative_url":"={{ $('HTTP Request').item.json.creative_url }}","start_date":"={{ $('HTTP Request').item.json.start_date }}","org_id":51},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"ad_id","displayName":"ad_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ad_name","displayName":"ad_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ad_type","displayName":"ad_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"start_date","displayName":"start_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"creative_url","displayName":"creative_url","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"org_id","displayName":"org_id","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[600,40],"id":"da9fab5c-2f47-4f64-9cb2-82b0f3792d91","name":"Postgres1","credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"url":"=https://pythonservernew.azurewebsites.net/api/landing_page_temp/{{ $json.productId }}/{{ $json.adId }}/{{$json.ad_type }}\n","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[920,-180],"id":"3e03ad7b-6992-4e09-906b-0f9db989e7de","name":"HTTP Request1"},{"parameters":{"operation":"executeQuery","query":"select * from meta_ad_details_scrapping where ad_id= '{{ $json.ad_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[320,-160],"id":"57cef1b2-f7db-4294-be67-c9edc16ffbc6","name":"check if product already in db1","alwaysOutputData":true,"credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"baf275a7-bb24-4f9d-8f62-f19e2bdcf1ae","leftValue":"={{ $json.ad_id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[460,-160],"id":"3702cdb4-8bc4-44f7-bb0f-d8fee64dfce4","name":"If1"},{"parameters":{"jsCode":"// const productId= $input.first().json.pid\n\nconst result = {\n  productId :$('Code1').first().json.productId,\n  adId:$('HTTP Request').first().json.ad_id,\n  ad_type: $('Webhook').first().json.body.ad_type\n}\nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-180],"id":"4a873ba2-555a-417b-9782-3053065a9394","name":"Code2"}],"connections":{"Webhook":{"main":[[{"node":"fetch product details","type":"main","index":0}]]},"Code":{"main":[[{"node":"check if product already in db","type":"main","index":0}]]},"fetch product details":{"main":[[{"node":"Code","type":"main","index":0}]]},"If":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Postgres","type":"main","index":0}]]},"check if product already in db":{"main":[[{"node":"If","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"check if product already in db1","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"check if product already in db1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"accept":"*/*","host":"workflows.intelliassist.co","user-agent":"PostmanRuntime/7.44.0","accept-encoding":"gzip, deflate, br","cookie":"ARRAffinity=09f58ebce3a37c8a17f005e20914cff492ec015f1986abcf69e8075ed4dc8f8f; ARRAffinitySameSite=09f58ebce3a37c8a17f005e20914cff492ec015f1986abcf69e8075ed4dc8f8f","max-forwards":"10","postman-token":"cd625f44-77c0-4220-8297-ef47e0e4e6ab","x-arr-log-id":"01e6c2e7-ded1-42b2-8ad2-a78a0830b33c","client-ip":"103.208.68.211:58637","disguised-host":"workflows.intelliassist.co","x-site-deployment-id":"n8n-intelliassist","was-default-hostname":"n8n-intelliassist.azurewebsites.net","x-forwarded-proto":"https","x-appservice-proto":"https","x-arr-ssl":"2048|256|CN=GeoTrust Global TLS RSA4096 SHA256 2022 CA1, O=\"DigiCert, Inc.\", C=US|CN=workflows.intelliassist.co","x-forwarded-tlsversion":"1.3","x-forwarded-for":"103.208.68.211:58637","x-original-url":"/webhook/generateLandingPage","x-waws-unencoded-url":"/webhook/generateLandingPage","x-client-ip":"103.208.68.211","x-client-port":"58637","content-type":"multipart/form-data; boundary=--------------------------028472475445859402174338","content-length":"501"},"params":{},"query":{},"body":{"product_link":"https://grandmaasecret.com/products/13-herbs-hair-oil","ad_url":"https://www.facebook.com/ads/library/?id=1467696647728626","ad_type":"click-through"},"webhookUrl":"https://workflows.intelliassist.co/webhook/generateLandingPage","executionMode":"production"}}]},"versionId":"411d0299-af9f-4ed0-83c0-d15dd4d09fdf","triggerCount":1,"tags":[]}