workflows/linkedinAgent-3cPVKEJvKvDP67Ve.n8n.json
{"createdAt":"2025-05-09T05:56:49.212Z","updatedAt":"2025-05-16T17:19:34.952Z","id":"3cPVKEJvKvDP67Ve","name":"linkedinAgent","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.author.name }} posted the following content on LinkedIn:\n{{ $json.content.text }}\n\n{{ $json.prompt }}\n\nStrictly return only an object with the following structure:\n\n{\n  \"id\": \"{{ $json.id }}\",\n  \"shouldLike\": <true or false>,\n  \"shouldComment\": <true or false>,\n  \"suggestedComment\": \"<insert tailored comment here>\"\n}\n","options":{"systemMessage":"= {{ $json.systemMessage }}\n\nYou are analyzing LinkedIn posts to determine whether to engage. Based on relevance and opportunity to pitch Intelliassist’s offering, respond strictly in the following format:\n\n```json\n{\n  \"id\": \"{{ $json.id }}\",\n  \"shouldLike\": <true or false>,\n  \"shouldComment\": <true or false>,\n  \"suggestedComment\": \"<Insert relevant, non-spammy comment that aligns Intelliassist with the post context>\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1660,-200],"id":"e11a80d5-1e62-4bf8-aa55-903e64e041d6","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[1640,20],"id":"1a2599ce-917a-42d5-82be-c7c9b5d2c560","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2040,-200],"id":"0533b1cd-70c0-4145-9645-5192055461a4","name":"Aggregate"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();\n\nconst rawItems = $input.first().json.output\nconst parsedItems = rawItems.map(str => {\n  // Remove code block markers and parse JSON\n  const cleanStr = str.replace(/```json\\n?|\\n?```/g, '');\n  return JSON.parse(cleanStr);\n});\n\nreturn parsedItems.map(obj => ({ json: obj }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2180,-200],"id":"bc0c89f9-c3b4-46d8-a63f-1dfeaa114ee6","name":"Code"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2320,-200],"id":"dde05a63-fe27-455b-ac48-0e8008722287","name":"Aggregate1"},{"parameters":{"language":"python","pythonCode":"# data = _('Webhook').first().json.body.data\n# prompt = _('Webhook').first().json.body.prompt\n# systemMessage=_('Webhook').first().json.body.systemMessage\n\n\n# from urllib.parse import urlparse\n\n# for item in data:\n#   profile=item.author.profileUrl\n#   parsed = urlparse(profile)\n#   main_url = f\"{parsed.scheme}://{parsed.netloc}{parsed.path}\"\n#   item.author.profileUrl=main_url\n\n# toBeAnalysed=[]\n\n# for item in data:\n#   profile=item.author.profileUrl\n#   if profile in _input.first().json.profile_url:\n#     toBeAnalysed.append(item)\n\n    \n# return toBeAnalysed\n\n\n  \n# return data\n\n\n\n\ntargetList = _input.first().json.profile_url\n\n\n# posts = _('Webhook').first().json.body.data\n# prompt= _('Webhook').first().json.body.prompt\n# systemMessage = _('Webhook').first().json.body.systemMessage\n\nposts = _('webhook for multiple posts').first().json.body.data\nprompt= _('webhook for multiple posts').first().json.body.prompt\nsystemMessage = _('webhook for multiple posts').first().json.body.systemMessage\ndata=[]\n\n\nfor item in posts:\n  if item.author.profileUrl in targetList:\n    print(\"present\")\n    data.append(item)\n\nif len(data)>0:\n  return data\nelse:\n  return [{\"note\":\"no posts from any person of interest\"}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,-220],"id":"253ea414-f674-4cad-9763-f79522cb2e84","name":"extract post data from request","alwaysOutputData":false},{"parameters":{"operation":"executeQuery","query":"select profile_url from linkedin_target_profiles","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[900,-220],"id":"bf0fb9b3-5dae-48fc-bfee-e79668be84d5","name":"MySQL","credentials":{"mySql":{"id":"YaT13VHYBMLsPgEw","name":"MySQL account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"profile_url"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1040,-220],"id":"c329a372-eebf-4b25-b261-afe5dc21d9a9","name":"Aggregate2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"55e69371-c07c-4e1f-9359-f04f48612584","leftValue":"={{ $json.note }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1420,-220],"id":"f04cf83d-e8ec-4416-a2b0-19b0c8e301c1","name":"If"},{"parameters":{"httpMethod":"POST","path":"linkedinAgent/sendData","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[760,-220],"id":"d79e59a7-12e6-405d-b560-1ffea8fd9f68","name":"webhook for multiple posts","webhookId":"81b9ba41-7a74-4ada-a13b-6c4ff4aee61f"},{"parameters":{"httpMethod":"POST","path":"linkedinAgent/addToMonitorList","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[760,-560],"id":"cd031183-b793-4d3f-8749-5d3e0ce2fd77","name":"Webhook","webhookId":"3fd89c1e-9d72-44bb-b8c6-cb644caa6b76"},{"parameters":{"table":{"__rl":true,"value":"linkedin_target_profiles","mode":"list","cachedResultName":"linkedin_target_profiles"},"dataMode":"defineBelow","valuesToSend":{"values":[{"column":"name","value":"={{ $json.body.data.author.name }}"},{"column":"profile_url","value":"={{ $json.body.data.author.profileUrl }}"}]},"options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.4,"position":[980,-560],"id":"eb9193ae-b127-4eb6-92b2-3c4c1cf7e22b","name":"MySQL1","alwaysOutputData":false,"credentials":{"mySql":{"id":"YaT13VHYBMLsPgEw","name":"MySQL account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56458b17-1d67-4f82-a8dd-2445eece19f3","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1200,-560],"id":"b34c4402-b948-4b98-bab2-9eec983118e2","name":"If1"},{"parameters":{"jsCode":"const data = {\"message\":\"user added to monitor list\"}\n\nreturn data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-640],"id":"88c865b2-fab2-44c5-acf7-a7ae7538b5eb","name":"Code1"},{"parameters":{"jsCode":"const data = {\"message\":\"user already present in monitor list\"}\n\nreturn data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1420,-480],"id":"4d5b808e-ba80-453c-9bf9-8fbd5f14c1bb","name":"Code2"}],"connections":{"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"extract post data from request":{"main":[[{"node":"If","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"extract post data from request","type":"main","index":0}]]},"If":{"main":[[],[{"node":"AI Agent","type":"main","index":0}]]},"webhook for multiple posts":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code1","type":"main","index":0}],[{"node":"Code2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"accept":"*/*","host":"workflows.intelliassist.co","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/136.0.0.0 Safari/537.36","accept-encoding":"gzip, deflate, br, zstd","accept-language":"en-GB,en-US;q=0.9,en;q=0.8","max-forwards":"10","origin":"https://www.linkedin.com","referer":"https://www.linkedin.com/","sec-ch-ua-platform":"\"Windows\"","sec-ch-ua":"\"Chromium\";v=\"136\", \"Google Chrome\";v=\"136\", \"Not.A/Brand\";v=\"99\"","sec-ch-ua-mobile":"?0","sec-fetch-site":"cross-site","sec-fetch-mode":"cors","sec-fetch-dest":"empty","x-arr-log-id":"6d015e3f-abda-4fd2-8d33-2ba77b9ccacc","client-ip":"103.181.161.150:62267","disguised-host":"workflows.intelliassist.co","x-site-deployment-id":"n8n-intelliassist","was-default-hostname":"n8n-intelliassist.azurewebsites.net","x-forwarded-proto":"https","x-appservice-proto":"https","x-arr-ssl":"2048|256|CN=GeoTrust Global TLS RSA4096 SHA256 2022 CA1, O=\"DigiCert, Inc.\", C=US|CN=workflows.intelliassist.co","x-forwarded-tlsversion":"1.3","x-forwarded-for":"103.181.161.150:62267","x-original-url":"/webhook/linkedinAgent/addToMonitorList","x-waws-unencoded-url":"/webhook/linkedinAgent/addToMonitorList","x-client-ip":"103.181.161.150","x-client-port":"62267","content-type":"application/json","content-length":"1610"},"params":{},"query":{},"body":{"source":"linkedin-extension","timestamp":"2025-05-15T13:56:48.903Z","action":"addToMonitorList","data":{"id":"li-urn-urn-li-activity-7327766733098758144","originalIds":{"dataId":"","urn":"urn:li:activity:7327766733098758144","trackingId":"","articleId":"","activityId":"","emberId":"ember126","containerId":"ember88","contentHash":"14iri9"},"timestamp":"2025-05-15T13:56:48.902Z","author":{"name":"Morgan Grant Chapman","profileUrl":"https://www.linkedin.com/in/morganchapman/","imageUrl":"https://media.licdn.com/dms/image/v2/C4E03AQHItret7HqcZQ/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1571841353846?e=1752710400&v=beta&t=visbXsprbmcu6l4t-MpaDzHo3sF92endItK651f2q80","description":"Head of Strategic Partnerships @Fluent | Expert in Retail Media & Commerce Media @Women in Retail Media Collective | NYC Chapter Connector @Authentic People | Strategic AdvisorHead of Strategic Partnerships @Fluent | Expert in Retail Media & Commerce Media @Women in Retail Media Collective | NYC Chapter Connector @Authentic People | Strategic Advisor","followers":""},"content":{"text":"Excited to be moderating a panel at Brand Innovators 'Evolution of Commerce Summit' in NYC alongside Brett Wein from Walmart Connect and Amie Owen from KINESSO. See you all Thursday!","hashtags":[]},"media":{"images":["https://media.licdn.com/dms/image/v2/D4E22AQHWN0AGs03n6Q/feedshare-shrink_800/B4EZbFRaBhHkAk-/0/1747066397439?e=1750291200&v=beta&t=mTtfDMJtjqWzfdkKyabI0ma1NyD8M5oOwdqhne42nE4"],"videos":[]},"engagement":{"likes":14,"comments":2,"reposts":0,"userLiked":false,"userCommented":false}}},"webhookUrl":"https://workflows.intelliassist.co/webhook/linkedinAgent/addToMonitorList","executionMode":"production"}}]},"versionId":"d170e412-edd8-4c93-9e34-6660c384c0ea","triggerCount":2,"tags":[]}