workflows/MetaAd targetting-sKdPeuhlNdR5i5UH.n8n.json
{"createdAt":"2025-06-04T10:45:39.590Z","updatedAt":"2025-06-04T15:21:40.168Z","id":"sKdPeuhlNdR5i5UH","name":"MetaAd targetting","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"metaAdTargetting","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-620,-80],"id":"ff09352d-ffa1-4f6f-a267-9f4c64e8fc2a","name":"Webhook","webhookId":"cba77026-890d-4691-b178-613b5bdbc17b"},{"parameters":{"url":"={{ $json.body.productUrl }}.json","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,-80],"id":"28da31e2-6e52-4524-8eb9-65bf22053658","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=Based on the following product description, suggest highly engaging and conversion-optimized ad components for a Facebook/Instagram ad campaign:\n\nPrimary Text (attention-grabbing, emotionally resonant, and relevant to the target audience)\n\nHeadline (concise and compelling)\n\nDescription (highlighting key benefits, urgency, or social proof)\n\nAdditionally, provide a list of precise and high-performing audience targeting suggestions (interests, behaviors, demographics) that are likely to result in the highest CTR and conversions. Consider the ideal buyer persona, pain points, aspirations, and competitive positioning.\n\nProduct Description: {{ $json.product.body_html }}\nFocus on direct response marketing principles and ensure language is persuasive yet authentic.","options":{"systemMessage":"=you are a marketing and Meta ad expert having more than a decade of experience in handling display campaigns with sales objectives.\n\nrefer to the below product description and Targeting list and give the best possible targets which you will target to achieve the highest CTR and sales.\n\n\ntargeting list:\n{\n  \"Demographics\": {\n    \"Education\": {\n      \"Field Of Study\": \"Unspecified\",\n      \"Schools\": \"Unspecified\",\n      \"Education Level\": [\n        \"Associate Degree\",\n        \"College Grad\",\n        \"Doctorate Degree\",\n        \"High School Grad\",\n        \"In College\",\n        \"In Grad School\",\n        \"In High School\",\n        \"Master’s Degree\",\n        \"Professional Degree\",\n        \"Some College\",\n        \"Some Grad School\",\n        \"Some High School\",\n        \"Unspecified\"\n      ],\n      \"Undergrad Years\": \"ex. 2018 – 2022\"\n    },\n    \"Financial\": {\n      \"Income\": [\n        \"$40,000 – $49,999\",\n        \"$50,000 – $74,999\",\n        \"$75,000 – $99,999\",\n        \"$100,000 – $124,999\",\n        \"$125,000 – $149,999\",\n        \"$150,000 – $249,999\",\n        \"$250,000 – $349,999\",\n        \"$350,000 – $499,999\",\n        \"Over $500,000\"\n      ],\n      \"Net Worth\": [\n        \"$100,000 – $249,999\",\n        \"$250,000 – $499,999\",\n        \"$500,000 – $749,999\",\n        \"$750,000 – $999,999\",\n        \"$1,000,000 – $1,999,999\",\n        \"Over $2,000,000\"\n      ],\n      \"Liquid Assets\": [\n        \"$1 – $25,000\",\n        \"$25,000 – $49,999\",\n        \"$50,000 – $99,999\",\n        \"$100,000 – $249,999\",\n        \"$250,000 – $499,999\",\n        \"$500,000 – $999,999\",\n        \"$1,000,000 – $1,999,999\",\n        \"$2,000,000 – $2,999,999\"\n      ]\n    },\n    \"Home\": {\n      \"Home Ownership\": [\n        \"First Time Homebuyer\",\n        \"Homeowners\",\n        \"Renters\"\n      ],\n      \"Home Type\": [\n        \"Apartment\",\n        \"Condo\",\n        \"Multi-family home\",\n        \"Single\"\n      ],\n      \"Home Value\": [\n        \"$50,000 – $99,999\",\n        \"$100,000 – $199,999\",\n        \"$200,000 – $299,999\",\n        \"$300,000 – $499,999\",\n        \"$500,000 – $699,999\",\n        \"$700,000 – $999,999\",\n        \"$1,000,000 – $199,999\",\n        \"Over $2,000,000\"\n      ]\n    },\n    \"Household Composition\": [\n      \"Grandparents\",\n      \"New parents\",\n      \"Veterans in home\",\n      \"Working women\",\n      \"Young and hip\",\n      \"Young adults in home\"\n    ]\n  },\n  \"Life Events\": {\n    \"General\": [\n      \"Away from family\",\n      \"Away from hometown\",\n      \"Long-distance relationship\",\n      \"New job\",\n      \"New relationship\",\n      \"Recently moved\"\n    ],\n    \"Engagement\": [\n      \"Newly engaged (1 year)\",\n      \"Newly engaged (3 months)\",\n      \"Newly engaged (6 months)\"\n    ],\n    \"Newlywed\": [\n      \"Newlywed (1 year)\",\n      \"Newlywed (3 months)\",\n      \"Newlywed (6 months)\"\n    ],\n    \"Anniversary\": [\n      \"Anniversary\",\n      \"Anniversary within 30 days\",\n      \"Anniversary within 31-60 days\"\n    ],\n    \"Birthday\": {\n      \"General\": [\n        \"Birthday\",\n        \"Birthday Month\",\n        \"Upcoming Birthday\"\n      ],\n      \"Months\": [\n        \"Birthday in January\",\n        \"Birthday in February\",\n        \"Birthday in March\",\n        \"Birthday in April\",\n        \"Birthday in May\",\n        \"Birthday in June\",\n        \"Birthday in July\",\n        \"Birthday in August\",\n        \"Birthday in September\",\n        \"Birthday in October\",\n        \"Birthday in November\",\n        \"Birthday in December\"\n      ]\n    }\n  },\n  \"Friends Of\": [\n    \"Close Friends of Men with a Birthday in 0-7 days\",\n    \"Close Friends of Men with a Birthday in 7-30 days\",\n    \"Close Friends of Women with a Birthday in 0-7 days\",\n    \"Close Friends of Women with a Birthday in 7-30 days\",\n    \"Close Friends of people with birthdays in a month\",\n    \"Close Friends of people with birthdays in a week\",\n    \"Friends of Recently Moved\",\n    \"Friends of newly engaged people\",\n    \"Friends of newlyweds\"\n  ],\n  \"Parents\": {\n    \"All Parents\": [\n      \"All Parents\",\n      \"New parents (0-12 months)\",\n      \"Parents(All)\",\n      \"Parents with preschoolers (3-5 years)\",\n      \"Parents with adult children (18-26 years)\",\n      \"Parents with early school-age children (6-8 years)\",\n      \"Parents with preteens (8-12 years)\",\n      \"Parents with teenagers (13-18 years)\",\n      \"Parents with toddlers (1-2 years)\"\n    ],\n    \"Moms\": [\n      \"Big-city moms\",\n      \"Corporate moms\",\n      \"Fit moms\",\n      \"Green moms\",\n      \"Moms of grade school kids\",\n      \"Moms of high school kids\",\n      \"Moms of preschool kids\",\n      \"New Moms\",\n      \"Soccer Moms\",\n      \"Stay-at-home moms\",\n      \"Trendy Moms\"\n    ]\n  },\n  \"Politics (US)\": [\n    \"Likely to engage with political content (conservative)\",\n    \"Likely to engage with political content (liberal)\",\n    \"Likely to engage with political content (moderate)\",\n    \"US politics (conservative)\",\n    \"US politics (liberal)\",\n    \"US politics (moderate)\",\n    \"US politics (very conservative)\",\n    \"US politics (very liberal)\"\n  ],\n  \"Relationship\": {\n    \"Relationship Status\": [\n      \"Civil Union\",\n      \"Complicated\",\n      \"Divorced\",\n      \"Domestic Partnership\",\n      \"Engaged\",\n      \"In a relationship\",\n      \"Married\",\n      \"Open Relationship\",\n      \"Separated\",\n      \"Single\",\n      \"Unspecified\",\n      \"Widowed\"\n    ]\n  },\n  \"Work\": {\n    \"Job Titles\": \"Unspecified\",\n    \"Employers\": \"Unspecified\",\n    \"Industries\": [\n      \"Administrative Services\",\n      \"Architecture and Engineering\",\n      \"Arts, Entertainment, Sports and Media\",\n      \"Business and Finance\",\n      \"Cleaning and Maintenance Services\",\n      \"Community and Social Services\",\n      \"Computation and Mathematics\",\n      \"Construction and Extraction\",\n      \"Education and Libraries\",\n      \"Farming, Fishing and Forestry\",\n      \"Food and Restaurants\",\n      \"Government Employees (Global)\",\n      \"Healthcare and Medical Services\",\n      \"IT and Technical Services\",\n      \"Installation and Repair Services\",\n      \"Legal Services\",\n      \"Life, Physical and Social Sciences\",\n      \"Management\",\n      \"Military (Global)\",\n      \"Personal Care and Home Services\",\n      \"Production\",\n      \"Protective Services\",\n      \"Sales\",\n      \"Transportation and Moving\",\n      \"Veterans (US)\"\n    ],\n    \"Office Type\": [\n      \"Small business\"\n    ]\n  },\n  \"Interests\": {\n    \"Business and industry\": [\n      \"Advertising\",\n      \"Agriculture\",\n      \"Architecture\",\n      \"Aviation\",\n      \"Banking\",\n      \"Investment Banking\",\n      \"Online Banking\",\n      \"Retail Banking\",\n      \"Business\",\n      \"Construction\",\n      \"Design\",\n      \"Fashion Design\",\n      \"Graphic Design\",\n      \"Interior Design\",\n      \"Economics\",\n      \"Engineering\",\n      \"Entrepreneurship\",\n      \"Health Care\",\n      \"Higher Education\",\n      \"Management\",\n      \"Marketing\",\n      \"Nursing\",\n      \"Online\",\n      \"Digital Marketing\",\n      \"Display Advertising\",\n      \"Email Marketing\",\n      \"Online Advertising\",\n      \"Search Engine Optimization\",\n      \"Social Media\",\n      \"Social Media Marketing\",\n      \"Web Design\",\n      \"Web Development\",\n      \"Web Hosting\",\n      \"Personal Finance\",\n      \"Credit Cards\",\n      \"Insurance\",\n      \"Investment\",\n      \"Mortgage loans\",\n      \"Real Estate\",\n      \"Retail\",\n      \"Sales\",\n      \"Science\",\n      \"Small business\"\n    ],\n    \"Entertainment\": {\n      \"Games\": [\n        \"Action Games\",\n        \"Board Games\",\n        \"Browser Games\",\n        \"Card Games\",\n        \"Casino Games\",\n        \"First-person shooter games\",\n        \"Gambling\",\n        \"Massively multiplayer online games\",\n        \"Online games\",\n        \"Online poker\",\n        \"Puzzle video games\",\n        \"Racing games\",\n        \"Role-playing games\",\n        \"Shooter games\",\n        \"Simulation games\",\n        \"Sports games\",\n        \"Strategy games\",\n        \"Video games\",\n        \"Word games\"\n      ],\n      \"Live Events\": [\n        \"Ballet\",\n        \"Bars\",\n        \"Concerts\",\n        \"Dancehalls\",\n        \"Music Festivals\",\n        \"Nightclubs\",\n        \"Parties\",\n        \"Plays\",\n        \"Theatre\"\n      ],\n      \"Movies\": [\n        \"Action movies\",\n        \"Animated movies\",\n        \"Bollywood movies\",\n        \"Comedy movies\",\n        \"Documentary movies\",\n        \"Drama movies\",\n        \"Fantasy movies\",\n        \"Horror movies\",\n        \"Musical theatre\",\n        \"Science fiction movies\",\n        \"Thriller movies\"\n      ],\n      \"Music\": [\n        \"Blues music\",\n        \"Classical music\",\n        \"Country music\",\n        \"Dance music\",\n        \"Electronic music\",\n        \"Gospel music\",\n        \"Heavy metal music\",\n        \"Hip hop music\",\n        \"Jazz music\",\n        \"Music videos\",\n        \"Pop music\",\n        \"Rhythm and blues music\",\n        \"Rock music\",\n        \"Soul music\"\n      ],\n      \"Reading\": [\n        \"Books\",\n        \"Comics\",\n        \"E-books\",\n        \"Fiction books\",\n        \"Literature\",\n        \"Magazines\",\n        \"Manga\",\n        \"Mystery fiction\",\n        \"Newspapers\",\n        \"Non-fiction books\",\n        \"Romance novels\"\n      ],\n      \"TV\": [\n        \"TV comedies\",\n        \"TV game shows\",\n        \"TV reality shows\",\n        \"TV talkshows\"\n      ]\n    },\n    \"Family and relationships\": [\n      \"Dating\",\n      \"Family\",\n      \"Fatherhood\",\n      \"Friendship\",\n      \"Marriage\",\n      \"Motherhood\",\n      \"Parenting\",\n      \"Weddings\"\n    ],\n    \"Fitness and wellness\": [\n      \"Bodybuilding\",\n      \"Meditation\",\n      \"Physical exercise\",\n      \"Physical fitness\",\n      \"Running\",\n      \"Weight training\",\n      \"Yoga\"\n    ],\n    \"Food and drink\": {\n      \"Alcoholic Beverages\": [\n        \"Beer\",\n        \"Distilled beverage\",\n        \"Wine\"\n      ],\n      \"Beverages\": [\n        \"Coffee\",\n        \"Energy Drinks\",\n        \"Juice\",\n        \"Soft drinks\",\n        \"Tea\"\n      ],\n      \"Cooking\": [\n        \"Baking\",\n        \"Recipes\"\n      ],\n      \"Cuisine\": [\n        \"Chinese cuisine\",\n        \"French cuisine\",\n        \"German cuisine\",\n        \"Greek cuisine\",\n        \"Indian cuisine\",\n        \"Italian cuisine\",\n        \"Japanese cuisine\",\n        \"Korean cuisine\",\n        \"Latin American cuisine\",\n        \"Mexican cuisine\",\n        \"Middle Eastern cuisine\",\n        \"Spanish cuisine\",\n        \"Thai cuisine\",\n        \"Vietnamese cuisine\"\n      ],\n      \"Food\": [\n        \"Barbecue\",\n        \"Chocolate\",\n        \"Desserts\",\n        \"Fast food\",\n        \"Organic food\",\n        \"Pizza\",\n        \"Seafood\",\n        \"Veganism\",\n        \"Vegetarianism\"\n      ],\n      \"Restaurants\": [\n        \"Coffeehouses\",\n        \"Diners\",\n        \"Fast casual restaurants\",\n        \"Fast food restaurants\"\n      ]\n    },\n    \"Hobbies and activities\": {\n      \"Current Events\": \"Unspecified\",\n      \"Arts and music\": [\n        \"Acting\",\n        \"Crafts\",\n        \"Dance\",\n        \"Drawing\",\n        \"Drums\",\n        \"Fine art\",\n        \"Guitar\",\n        \"Painting\",\n        \"Performing Arts\",\n        \"Photography\",\n        \"Sculpture\",\n        \"Singing\",\n        \"Writing\"\n      ],\n      \"Home and garden\": [\n        \"Do it yourself (DIY)\",\n        \"Furniture\",\n        \"Gardening\",\n        \"Home Appliances\",\n        \"Home improvement\"\n      ],\n      \"Pets\": [\n        \"Birds\",\n        \"Cats\",\n        \"Dogs\",\n        \"Fish\",\n        \"Horses\",\n        \"Pet food\",\n        \"Rabbits\",\n        \"Reptiles\"\n      ],\n      \"Politics and social issues\": [\n        \"Charity and causes\",\n        \"Community issues\",\n        \"Environmentalism\",\n        \"Law\",\n        \"Military\",\n        \"Politics\",\n        \"Religion\",\n        \"Sustainability\",\n        \"Veterans\",\n        \"Volunteering\"\n      ],\n      \"Travel\": [\n        \"Adventure travel\",\n        \"Air travel\",\n        \"Beaches\",\n        \"Car rentals\",\n        \"Cruises\",\n        \"Ecotourism\",\n        \"Hotels\",\n        \"Lakes\",\n        \"Mountains\",\n        \"Nature\",\n        \"Theme parks\",\n        \"Tourism\",\n        \"Vacations\"\n      ],\n      \"Vehicles\": [\n        \"Automobiles\",\n        \"Boats\",\n        \"Electric vehicle\",\n        \"Hybrids\",\n        \"Minivans\",\n        \"Motorcycles\",\n        \"RVs\",\n        \"SUVs\",\n        \"Scooters\",\n        \"Trucks\"\n      ]\n    },\n    \"Shopping and fashion\": {\n      \"Toys\": \"Unspecified\",\n      \"Beauty\": [\n        \"Beauty salons\",\n        \"Cosmetics\",\n        \"Fragrances\",\n        \"Hair products\",\n        \"Spas\",\n        \"Tattoos\"\n      ],\n      \"Clothing\": [\n        \"Children’s clothing\",\n        \"Men’s clothing\",\n        \"Shoes\",\n        \"Women’s clothing\"\n      ],\n      \"Fashion accessories\": [\n        \"Dresses\",\n        \"Handbags\",\n        \"Jewelry\",\n        \"Sunglasses\"\n      ],\n      \"Shopping\": [\n        \"Boutiques\",\n        \"Coupons\",\n        \"Discount stores\",\n        \"Luxury goods\",\n        \"Online shopping\",\n        \"Shopping malls\"\n      ]\n    },\n    \"Sports and outdoors\": {\n      \"Outdoor recreation\": [\n        \"Boating\",\n        \"Camping\",\n        \"Fishing\",\n        \"Horseback riding\",\n        \"Hunting\",\n        \"Mountain biking\",\n        \"Surfing\"\n      ],\n      \"Sports\": [\n        \"American football\",\n        \"Association football (Soccer)\",\n        \"Auto racing\",\n        \"Baseball\",\n        \"Basketball\",\n        \"College Football\",\n        \"Golf\",\n        \"Marathons\",\n        \"Skiing\",\n        \"Snowboarding\",\n        \"Swimming\",\n        \"Tennis\",\n        \"Triathlons\",\n        \"Volleyball\"\n      ]\n    },\n    \"Technology\": {\n      \"Computers\": [\n        \"Computer memory\",\n        \"Computer monitors\",\n        \"Computer processors\",\n        \"Computer servers\",\n        \"Desktop computers\",\n        \"Free software\",\n        \"Hard drives\",\n        \"Network storage\",\n        \"Software\",\n        \"Tablet computers\"\n      ],\n      \"Consumer electronics\": [\n        \"Audio equipment\",\n        \"Camcorders\",\n        \"Cameras\",\n        \"E-book readers\",\n        \"GPS devices\",\n        \"Game consoles\",\n        \"Mobile phones\",\n        \"Portable media players\",\n        \"Projectors\",\n        \"Smartphones\",\n        \"Televisions\"\n      ]\n    }\n  },\n  \"Behaviors\": {\n    \"Anniversary\": \"Anniversary (within 61-90 days)\",\n    \"Automotive\": {\n      \"Motorcycle\": \"Unspecified\",\n      \"Purchased\": {\n        \"New\": \"Unspecified\",\n        \"Used\": \"Unspecified\"\n      },\n      \"New vehicle buyers (Near market)\": \"Unspecified\",\n      \"Style\": [\n        \"Crossover\",\n        \"Economy/compact\",\n        \"Full-size SUV\",\n        \"Full-size sedan\",\n        \"Hybrid/alternative fuel\",\n        \"Luxury SUV\",\n        \"Luxury sedan\",\n        \"Midsize car\",\n        \"Minivan\",\n        \"Pickup truck\",\n        \"Small/midsize SUV\",\n        \"Sports car/convertible\"\n      ],\n      \"New vehicle shoppers (In market)\": {\n        \"Make\": [\n          \"Acura\",\n          \"Audi\",\n          \"BMW\",\n          \"Buick\",\n          \"Cadillac\",\n          \"Chevrolet car\",\n          \"Chevrolet truck\",\n          \"Chrysler\",\n          \"Dodge RAM\",\n          \"Dodge car\",\n          \"Fiat\",\n          \"Ford car\",\n          \"Ford truck\",\n          \"GMC\",\n          \"Honda\",\n          \"Hyundai\",\n          \"Infiniti\",\n          \"Jaguar\",\n          \"Jeep\",\n          \"Kia\",\n          \"Land Rover\",\n          \"Lexus\",\n          \"Lincoln\",\n          \"MINI\",\n          \"Mazda\",\n          \"Mercedes-Benz\",\n          \"Mitsubishi\",\n          \"Nissan\",\n          \"Porsche\",\n          \"Subaru\",\n          \"Toyota\",\n          \"Volkswagen\",\n          \"Volvo\"\n        ]\n      },\n      \"New vehicle shoppers (Max in market)\": {\n        \"All\": \"Unspecified\",\n        \"Style\": [\n          \"Crossover Vehicle\",\n          \"Entry/Economy/Compact\",\n          \"Full-size SUV\",\n          \"Full-size Sedan\",\n          \"Hybrid/Alternative Fuel\",\n          \"Luxury SUV\",\n          \"Luxury Sedan\",\n          \"Midsize Car\",\n          \"Minivan\",\n          \"Pickup Truck\",\n          \"Small/Mid-size SUV\",\n          \"Sports Car/Convertible\"\n        ]\n      },\n      \"Owners\": {\n        \"Aftermarket\": [\n          \"Auto parts\",\n          \"Auto parts and accessories\",\n          \"Auto service buyer\"\n        ],\n        \"Make\": [\n          \"Acura\",\n          \"Audi\",\n          \"BMW\",\n          \"Buick\",\n          \"Cadillac\",\n          \"Chevrolet car\",\n          \"Chevrolet truck\",\n          \"Chrysler\",\n          \"Dodge RAM\",\n          \"Dodge car\",\n          \"Fiat\",\n          \"Ford car\",\n          \"Ford truck\",\n          \"GMC\",\n          \"Honda\",\n          \"Hyundai\",\n          \"Infiniti\",\n          \"Jaguar\",\n          \"Jeep\",\n          \"Kia\",\n          \"Land Rover\",\n          \"Lexus\",\n          \"Lincoln\",\n          \"MINI\",\n          \"Mazda\",\n          \"Mercedes-Benz\",\n          \"Mitsubishi\",\n          \"Nissan\",\n          \"Porsche\",\n          \"Subaru\",\n          \"Toyota\",\n          \"Volkswagen\",\n          \"Volvo\"\n        ],\n        \"Purchased\": [\n          \"0-6 months ago\",\n          \"13-24 months ago\",\n          \"25-36 months ago\",\n          \"37-48 months ago\",\n          \"7-12 months ago\",\n          \"Over 48 months ago\"\n        ],\n        \"Style\": [\n          \"Crossover\",\n          \"Economy/compact\",\n          \"Full-size SUV\",\n          \"Full-size sedan\",\n          \"Hybrid/alternative fuel\",\n          \"Luxury SUV\",\n          \"Luxury sedan\",\n          \"Midsize car\",\n          \"Minivan\",\n          \"Pickup truck\",\n          \"Small/midsize SUV\",\n          \"Sports car/convertible\"\n        ],\n        \"Vehicle Age\": [\n          \"0 – 1 years old\",\n          \"11 – 15 years old\",\n          \"16 – 20 years old\",\n          \"2 years old\",\n          \"3 years old\",\n          \"4 – 5 years old\",\n          \"6 – 10 years old\",\n          \"Over 20 years old\"\n        ],\n        \"Vehicle Price\": [\n          \"$20,000 – $30,000\",\n          \"$30,000 – $40,000\",\n          \"$40,000 – $50,000\",\n          \"$50,000 – $75,000\",\n          \"Less than $20,000\",\n          \"Over $75,000\"\n        ]\n      },\n      \"Purchase Type\": {\n        \"Vehicle price\": \"Unspecified\",\n        \"Buy new (In market)\": \"Unspecified\",\n        \"Buy new (Near market)\": \"Unspecified\",\n        \"Buy new or used (In market)\": \"Unspecified\",\n        \"Buy new or used (Near market)\": \"Unspecified\",\n        \"Buy used (In market)\": \"Unspecified\",\n        \"Lease (In market)\": \"Unspecified\"\n      },\n      \"Used vehicle buyers (In market)\": {\n        \"Style\": [\n          \"Crossover\",\n          \"Economy/compact\",\n          \"Full-size SUV\",\n          \"Full-size sedan\",\n          \"Hybrid/alternative fuel\",\n          \"Luxury SUV\",\n          \"Luxury sedan\",\n          \"Midsize car\",\n          \"Minivan\",\n          \"Pickup truck\",\n          \"Small/midsize SUV\",\n          \"Sports car/convertible\"\n        ]\n      }\n    },\n    \"B2B\": {\n      \"Company size\": [\n        \"1,000 – 4,999 Employees\",\n        \"10 – 49 Employees\",\n        \"100 – 499 Employees\",\n        \"5,000+ Employees\",\n        \"50 – 99 Employees\",\n        \"500 – 999 Employees\",\n        \"Less Than 10 Employees\"\n      ],\n      \"Industry\": [\n        \"Agriculture\",\n        \"Business Services\",\n        \"Construction\",\n        \"Consumer Services\",\n        \"Cultural and Recreation\",\n        \"Education\",\n        \"Finance\",\n        \"Government\",\n        \"Healthcare\",\n        \"Hospital and Travel\",\n        \"Insurance\",\n        \"Legal\",\n        \"Logistics and Transportation\",\n        \"Manufacturing\",\n        \"Media and Internet\",\n        \"Real Estate\",\n        \"Restaurant\",\n        \"Retail\",\n        \"Telecommunications\",\n        \"Wholesale Trade\"\n      ],\n      \"Seniority\": [\n        \"Executive/C-Suite\",\n        \"Mid-Management\"\n      ]\n    },\n    \"Charitable Donations\": [\n      \"All charitable donations\",\n      \"Animal Welfare\",\n      \"Arts and cultural\",\n      \"Cancer causes\",\n      \"Environmental and wildlife\",\n      \"Health\",\n      \"Political\",\n      \"Veterans\"\n    ],\n    \"Consumer Classification\": {\n      \"Argentina\": [\n        \"People who prefer high-value goods in Argentina\",\n        \"People who prefer mid and high-value goods in Argentina\"\n      ],\n      \"Brazil\": [\n        \"People who prefer high-value goods in Brazil\"\n      ],\n      \"Chile\": [\n        \"People who prefer high-value goods in Chile\",\n        \"People who prefer mid and high-value goods in Chile\"\n      ],\n      \"India\": [\n        \"People who prefer high-value goods in India\",\n        \"People who prefer mid and high-value goods in India\"\n      ],\n      \"Indonesia\": [\n        \"People who prefer high-value goods in Indonesia\"\n      ],\n      \"Malaysia\": [\n        \"People who prefer high-value goods in Malaysia\",\n        \"People who prefer mid and high-value goods in Malaysia\"\n      ],\n      \"Mexico\": [\n        \"People who prefer high-value goods in Mexico\",\n        \"People who prefer mid and high-value goods in Mexico\"\n      ],\n      \"Pakistan\": [\n        \"People who prefer high-value goods in Pakistan\",\n        \"People who prefer mid and high-value goods in Pakistan\"\n      ],\n      \"South Africa\": [\n        \"People who prefer high-value goods in South Africa\",\n        \"People who prefer mid and high-value goods in South Africa\"\n      ],\n      \"Turkey\": [\n        \"People who prefer high-value goods in Turkey\",\n        \"People who prefer mid and high-value goods in Turkey\"\n      ]\n    },\n    \"Digital activities\": {\n      \"Operating System Used\": \"Facebook access (OS): Windows 10\",\n      \"Canvas Gaming\": [\n        \"Played Canvas games (last 14 days)\",\n        \"Played Canvas games (last 3 days)\",\n        \"Played Canvas games (last 7 days)\",\n        \"Played Canvas games (yesterday)\"\n      ],\n      \"General Digital Activities\": [\n        \"Console gamers\",\n        \"Facebook Page admins\",\n        \"Facebook Payments users (30 days)\",\n        \"Facebook Payments users (90 days)\",\n        \"Facebook Payments users (higher than average spend)\",\n        \"Facebook access: older devices and OS\"\n      ],\n      \"Internet Browser Used\": [\n        \"Facebook access (browser): Chrome\",\n        \"Facebook access (browser): Firefox\",\n        \"Facebook access (browser): Internet Explorer\",\n        \"Facebook access (browser): Microsoft Edge\",\n        \"Facebook access (browser): Opera\",\n        \"Facebook access (browser): Safari\"\n      ],\n      \"Operating System Used Specific\": [\n        \"Facebook access (OS): Mac OS X\",\n        \"Facebook access (OS): Mac Sierra\",\n        \"Facebook access (OS): Windows 7\",\n        \"Facebook access (OS): Windows 8\",\n        \"Facebook access (OS): Windows Vista\",\n        \"Facebook access (OS): Windows XP\"\n      ],\n      \"Primary email domain\": [\n        \"AOL email users\",\n        \"Apple email users\",\n        \"Gmail users\",\n        \"Hotmail users\",\n        \"MSN.com email users\",\n        \"Yahoo email users\"\n      ]\n    },\n    \"Expats\": [\n      \"Close friends of expats\",\n      \"Expats (Algeria)\",\n      \"Expats (All)\",\n      \"Expats (Argentina)\",\n      \"Expats (Australia)\",\n      \"Expats (Austria)\",\n      \"Expats (Bangladesh)\",\n      \"Expats (Belgium)\",\n      \"Expats (Brazil)\",\n      \"Expats (Cameroon)\",\n      \"Expats (Canada)\",\n      \"Expats (Chile)\",\n      \"Expats (China)\",\n      \"Expats (Colombia)\",\n      \"Expats (Congo DRC)\",\n      \"Expats (Cuba)\",\n      \"Expats (Cryprus)\",\n      \"Expats (Czech Republic)\",\n      \"Expats (Denmark)\",\n      \"Expats (Dominican Republic)\",\n      \"Expats (El Salvador)\",\n      \"Expats (Estonia)\",\n      \"Expats (Ethiopia)\",\n      \"Expats (Finland)\",\n      \"Expats (France)\",\n      \"Expats (Germany)\",\n      \"Expats (Ghana)\",\n      \"Expats (Greece)\",\n      \"Expats (Guatemala)\",\n      \"Expats (Haiti)\",\n      \"Expats (Honduras)\",\n      \"Expats (Hong Kong)\",\n      \"Expats (Hungary)\",\n      \"Expats (India)\",\n      \"Expats (Indonesia)\",\n      \"Expats (Ireland)\",\n      \"Expats (Israel)\",\n      \"Expats (Italy)\",\n      \"Expats (Ivory Coast)\",\n      \"Expats (Jamaica)\",\n      \"Expats (Japan)\",\n      \"Expats (Jordan)\",\n      \"Expats (KSA)\",\n      \"Expats (Kenya)\",\n      \"Expats (Kuwait)\",\n      \"Expats (Latvia)\",\n      \"Expats (Lebanon)\",\n      \"Expats (Lithuania)\",\n      \"Expats (Luxembourg)\",\n      \"Expats (Malaysia)\",\n      \"Expats (Malta)\",\n      \"Expats (Mexico)\",\n      \"Expats (Monaco)\",\n      \"Expats (Morocco)\",\n      \"Expats (Nepal)\",\n      \"Expats (Netherlands)\",\n      \"Expats (New Zealand)\",\n      \"Expats (Nicaragua)\",\n      \"Expats (Nigeria)\",\n      \"Expats (Norway)\",\n      \"Expats (Peru)\",\n      \"Expats (Poland)\",\n      \"Expats (Portugal)\",\n      \"Expats (Puerto Rico)\",\n      \"Expats (Qatar)\",\n      \"Expats (Romania)\",\n      \"Expats (Russia)\",\n      \"Expats (Rwanda)\",\n      \"Expats (Senegal)\",\n      \"Expats (Serbia)\",\n      \"Expats (Sierra Leone)\",\n      \"Expats (Singapore)\",\n      \"Expats (Slovakia)\",\n      \"Expats (Slovenia)\",\n      \"Expats (South Africa)\",\n      \"Expats (South Korea)\",\n      \"Expats (Spain)\",\n      \"Expats (Sri Lanka)\",\n      \"Expats (Sweden)\",\n      \"Expats (Switzerland)\",\n      \"Expats (Tanzania)\",\n      \"Expats (Thailand)\",\n      \"Expats (UAE)\",\n      \"Expats (Uganda)\",\n      \"Expats (United Kingdom)\",\n      \"Expats (United States)\",\n      \"Expats (Venezuela)\",\n      \"Expats (Vietnam)\",\n      \"Expats (Zambia)\",\n      \"Expats (Zimbabwe)\",\n      \"Family of expats\"\n    ],\n    \"Financial\": {\n      \"Banking\": [\n        \"Credit Union Member\"\n      ],\n      \"Investments\": [\n        \"Full-Service investors\",\n        \"Highly likely investors\",\n        \"Independent investors\",\n        \"Likely investors\",\n        \"Personal Investments\",\n        \"Real estate investments\",\n        \"Semi-independent Investors\"\n      ],\n      \"Spending Methods\": [\n        \"Active credit card user\",\n        \"Any card type\",\n        \"Bank cards\",\n        \"Gas, department and retail store cards\",\n        \"High-end department store cards\",\n        \"Premium credit cards\",\n        \"Primarily cash\",\n        \"Primarily credit cards\",\n        \"Travel and entertainment cards\"\n      ],\n      \"Job Role\": [\n        \"Corporate executives\",\n        \"Financial professionals\"\n      ]\n    },\n    \"Media\": {\n      \"Radio\": [\n        \"Internet/Satellite\"\n      ],\n      \"Television\": {\n        \"Show Genre\": [\n          \"Action shows\",\n          \"Adventure shows\",\n          \"Animals shows\",\n          \"Auto Racing shows\",\n          \"Auto shows\",\n          \"Baseball shows\",\n          \"Biography shows\",\n          \"Childrens shows\",\n          \"Comedy shows\",\n          \"Cooking shows\",\n          \"Docudrama shows\",\n          \"Drama shows\",\n          \"Educational shows\",\n          \"Entertainment shows\",\n          \"Health shows\",\n          \"Historical Drama shows\",\n          \"History shows\",\n          \"Home improvement shows\",\n          \"Horror shows\",\n          \"Law shows\",\n          \"Motorsports shows\",\n          \"News shows\",\n          \"Outdoors shows\",\n          \"Public Affairs shows\",\n          \"Reality shows\",\n          \"Religious shows\",\n          \"Romance shows\",\n          \"Science Fiction shows\",\n          \"Sitcom shows\",\n          \"Sports Events shows\",\n          \"Sports Talk shows\",\n          \"Travel shows\",\n          \"Western shows\"\n        ],\n        \"Viewership Habits\": [\n          \"Heavy US TV Viewers\",\n          \"Light US TV Viewers\",\n          \"Moderate US TV Viewers\"\n        ]\n      }\n    },\n    \"Mobile Device User\": \"Unspecified\",\n    \"Mobile Device User/Device Use Time\": \"Unspecified\",\n    \"Multicultural Affinity\": [\n      \"African American (US)\",\n      \"Asian American (US)\",\n      \"Hispanic (US – All)\",\n      \"Hispanic (US – Bilingual)\",\n      \"Hispanic (US – English Dominant)\",\n      \"Hispanic (US – Spanish Dominant)\"\n    ],\n    \"Purchase Behavior\": {\n      \"Engaged Shoppers\": \"Unspecified\",\n      \"Business purchases\": [\n        \"Business Marketing\"\n      ],\n      \"Buyer profiles\": [\n        \"Coupon users\",\n        \"DIYers\",\n        \"Fashionistas\",\n        \"Foodies\",\n        \"Gadget enthusiast\",\n        \"Gamers\",\n        \"Green living\",\n        \"Healthy and fit\",\n        \"Outdoor enthusiasts\",\n        \"Shoppers\",\n        \"Skiing, Golfing, and boating\",\n        \"Spa enthusiasts\",\n        \"Sportsmen\",\n        \"Trendy homemakers\"\n      ],\n      \"Clothing\": {\n        \"Men’s\": [\n          \"accessories\",\n          \"Big and tall apparel\",\n          \"Business apparel\",\n          \"Jeans\",\n          \"Men’s fashion and apparel buyers\"\n        ],\n        \"Seasonal\": [\n          \"Winter seasonal shoppers\"\n        ],\n        \"Women’s\": [\n          \"Accessories\",\n          \"Business apparel\",\n          \"Discount apparel and accessories\",\n          \"Fine Jewelry\",\n          \"Jewelry\",\n          \"Luxury brand apparel\",\n          \"Luxury retailers\",\n          \"Mid-ticket apparel and accessories\",\n          \"Women’s shoes\",\n          \"Womens fashion and apparel buyers\",\n          \"Young women’s apparel\"\n        ]\n      },\n      \"Food and drink\": {\n        \"Alcoholic Beverages\": [\n          \"Beer\",\n          \"Craft Beer\",\n          \"Domestic Beer\",\n          \"Import Beer\",\n          \"Light Beer\",\n          \"Premium Beer\",\n          \"Spirits\",\n          \"Wine\"\n        ],\n        \"Bakery\": [\n          \"Bakery products\"\n        ],\n        \"Beverages\": [\n          \"Bottled water\",\n          \"Carbonated drinks\",\n          \"Coffee\",\n          \"Coffee(K-cup)\",\n          \"Diet drinks\",\n          \"Hot tea\",\n          \"Iced tea and lemonade\",\n          \"Juice\",\n          \"Non-dairy milk\",\n          \"Sports drinks\"\n        ],\n        \"Cereal\": [\n          \"All Cereal\",\n          \"Children’s Cereal\",\n          \"Fiber Cereal\",\n          \"Hot Cereal\"\n        ],\n        \"Children’s food\": [\n          \"Baby food and products\",\n          \"Children’s food\",\n          \"Children’s food and products\"\n        ],\n        \"Condinments and dressings\": [\n          \"Condinments\",\n          \"Salad dressings\"\n        ],\n        \"Cooking supplies\": [\n          \"Baking\",\n          \"Spices\"\n        ],\n        \"Dairy and eggs\": [\n          \"Cheese\",\n          \"Dairy Free\",\n          \"Eggs\",\n          \"Milk\",\n          \"Yogurt\"\n        ],\n        \"Fresh and Healthy\": \"Fresh and Healthy\",\n        \"Frozen Food\": [\n          \"Frozen appetizers and snacks\",\n          \"Frozen bread and dough\",\n          \"Frozen breakfast\",\n          \"Frozen Desserts\",\n          \"Frozen entrees\",\n          \"Frozen ethnic foods\",\n          \"Frozen fruit\",\n          \"Frozen meats and Seafood\",\n          \"Frozen pasta\",\n          \"Frozen Pizza\",\n          \"Frozen vegetables\",\n          \"Ice cream and novelties\"\n        ],\n        \"Grocery shopper type\": [\n          \"Premium brand groceries\",\n          \"Top spenders\"\n        ],\n        \"Health food\": [\n          \"Diet foods\",\n          \"Fresh produce\",\n          \"Low-fat foods\",\n          \"Natural and organics\"\n        ],\n        \"Home Cooking and Grilling\": \"Home cooking and Grilling\",\n        \"Meat and Seafood\": [\n          \"Meat\",\n          \"Seafood\"\n        ],\n        \"Soup\": \"Soup\",\n        \"Sweets and snacks\": [\n          \"Breakfast bars\",\n          \"Chocolate candy\",\n          \"Cookies\",\n          \"Crackers\",\n          \"Granola bars\",\n          \"non-chocolate candy\",\n          \"peanut butter and jelly\",\n          \"Salty snacks\"\n        ],\n        \"Vegetarian\": \"Vegetarian\"\n      },\n      \"Health and beauty\": [\n        \"Antiperspirants and deodorants\",\n        \"Cosmetics\",\n        \"Fragrance\",\n        \"Hair care\",\n        \"Health and wellness buyers\",\n        \"Men’s grooming\",\n        \"Oral care\"\n      ],\n      \"Over the counter\": [\n        \"Allergy relief\",\n        \"cough and cold relief\",\n        \"Pain relief\",\n        \"Over-the-counter medication\"\n      ],\n      \"Skin care\": \"Unspecified\",\n      \"Sun care\": \"Unspecified\",\n      \"Vitamins\": \"Unspecified\",\n      \"Home and garden\": [\n        \"Entertaining\",\n        \"Home improvement\",\n        \"Home renovation\",\n        \"Organization\",\n        \"Tools\"\n      ],\n      \"Household products\": [\n        \"Cleaning supplies\",\n        \"Food storage\",\n        \"Green cleaners and supplies\",\n        \"Laundry supplies\"\n      ],\n      \"Kids products\": [\n        \"Baby care\",\n        \"Baby toys\"\n      ],\n      \"Pet products\": {\n        \"Categories\": [\n          \"Cat food and products\",\n          \"Cat Owners\",\n          \"Dog food and products\",\n          \"Dog Owners\",\n          \"Pet products\"\n        ]\n      },\n      \"Purchase Types\": [\n        \"Appliances and accessories\",\n        \"arts and crafts\",\n        \"Baby products\",\n        \"Beauty accessories\",\n        \"Childrens apparel\",\n        \"Consumer electronics buyers\",\n        \"Cosmetics\",\n        \"Electronics\",\n        \"Home furnishing and accessories\",\n        \"Home Office\",\n        \"Restaurant\",\n        \"Fine dining\",\n        \"Mid-range restaurants/non quick serve\",\n        \"Quick serve restaurants\",\n        \"Small and home products\",\n        \"Software\",\n        \"Toys\",\n        \"Travel supplies\",\n        \"Upscale travel and services\",\n        \"Women’s apparel\"\n      ],\n      \"Sports and outdoors\": [\n        \"Cycling\",\n        \"Fishing\",\n        \"Fitness\",\n        \"Golf and tennis\",\n        \"Hiking and Camping\",\n        \"Hunting\",\n        \"Running\",\n        \"Winter sports\"\n      ],\n      \"Store types\": [\n        \"Department stores\",\n        \"Discount department store\",\n        \"Gift shoppers\",\n        \"Gyms and fitness clubs\",\n        \"high-end retail\",\n        \"Low-end department store\",\n        \"Luxury store\"\n      ],\n      \"Subscription services\": [\n        \"Auto Insurance online\",\n        \"Higher education\",\n        \"Mortgage online\",\n        \"Prepaid debit cards\",\n        \"Satellite TV\"\n      ],\n      \"Technology\": {\n        \"Kindle eReader\": \"Unspecified\",\n        \"Use an eReader\": \"Unspecified\"\n      }\n    },\n    \"Residential profiles\": [\n      \"Likely to move\",\n      \"New mover\",\n      \"Recent homebuyer\",\n      \"Recent mortgage borrower\"\n    ],\n    \"Soccer\": [\n      \"Friends of Soccer fans\",\n      \"Soccer fans (high content engagement)\",\n      \"Soccer fans (moderate content engagement)\"\n    ],\n    \"Travel\": [\n      \"Business travelers\",\n      \"Business trvelers (International)\",\n      \"Business travelers (US)\",\n      \"Casino vacations\",\n      \"Commuters\",\n      \"Cruises\",\n      \"Family vacations\",\n      \"Frequent Travelers\",\n      \"Frequent flyers\",\n      \"Frequent international travelers\",\n      \"Leisure travelers\",\n      \"Personal travelers (International)\",\n      \"Personal Travelers (US)\",\n      \"Returned from travels 1 week ago\",\n      \"Returned from travels 2 weeks ago\",\n      \"Timeshares\"\n    ]\n  },\n  \"More Categories\": [\n    \"Interested in Upcoming Events\",\n    \"Marketing API developers (last 90 days)\"\n  ]\n},\nproduct details: {{ JSON.stringify($json.product) }}\n\ngive your response in a human readable clean HTML format"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-180,-80],"id":"c2cbedc9-fb70-4969-a50f-d62ec9af5120","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-220,140],"id":"8227fd2b-9966-42ef-ad8d-cdbc32c7e082","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"jsCode":"const data = $input.first().json.output\n\nlet cleaned_data = data.replace(/```html/g, ''); // Remove all triple backticks\ncleaned_data = cleaned_data.replace(/\\n/g, ''); // Remove all newline characters\ncleaned_data = cleaned_data.replace(/```/g, '');\n\nreturn {\n  json: {\n    cleaned_data\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[180,-80],"id":"25ed2b25-77d9-4d2a-aa1d-7a2eea7cf361","name":"Code"}],"connections":{"Webhook":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"520d7762-9aea-4ea5-8cc2-a5efc01148ae","triggerCount":0,"tags":[]}