workflows/query products-IWgPHJFBNW4nHEJJ.n8n.json
{"createdAt":"2025-05-02T17:17:03.790Z","updatedAt":"2025-05-16T17:37:17.757Z","id":"IWgPHJFBNW4nHEJJ","name":"query products","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"askProduct","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1260,580],"id":"826fe3bb-c458-424c-af72-669a60aa5d6d","name":"Webhook","webhookId":"6106bc56-4fc5-4974-860a-23c8ab3193ce"},{"parameters":{"promptType":"define","text":"={{ $json.body.user_query}}\n","options":{"systemPromptTemplate":"You are an assistant for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer. dont mention about the context, and be polite \n\n----------------\nContext: {context}"}},"type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.5,"position":[-840,580],"id":"c1300471-62ae-4b59-8a96-b739f0c500fc","name":"Question and Answer Chain"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-920,820],"id":"6024c374-016a-4c85-8034-b6b795a12760","name":"Azure OpenAI Chat Model2","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[-720,800],"id":"bcf62fc1-5eeb-4662-acda-283e2a344034","name":"Vector Store Retriever"},{"parameters":{"tableName":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"options":{"queryName":"match_products","metadata":{"metadataValues":[{"name":"product_id","value":"={{ Number($json.body.product_id) }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-720,980],"id":"4830e9a4-7dc3-4e9c-b066-944ac3d3c8d6","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"model":"inteltextembeddingada002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[-680,1120],"id":"e517a9ff-3ee3-4995-b1ca-dad49302e432","name":"Embeddings Azure OpenAI2","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}}],"connections":{"Webhook":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Azure OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Supabase Vector Store2":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Embeddings Azure OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11edb06b-2161-4d13-9a56-374f2926196f","triggerCount":1,"tags":[]}