workflows/supabase rag-meWx2A9bzBYju96A.n8n.json
{"createdAt":"2025-04-30T06:42:21.175Z","updatedAt":"2025-04-30T09:30:46.878Z","id":"meWx2A9bzBYju96A","name":"supabase rag","active":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"f149f0e7-df28-4b26-9717-ac39b889675c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-400,640]},{"parameters":{"name":"user_documents","description":"contains the store's policies on shipping and returns"},"id":"412b65a0-0016-4424-a9c3-c95df0410ece","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-760,-80]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"0e235a0f-d98f-4441-8dc7-122033f9fead","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,-200]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"a915242e-c4e9-4a8f-96bc-7b1b109c2425","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2160,340]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"6955e618-76a2-415a-8b84-3fbf8f7f2f31","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1240,520],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"34Go7hPfrAGpQzoy","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1w193WYCUHIjnQV1halTkqRXXr88NGJc5","mode":"list","cachedResultName":"n8n documents","cachedResultUrl":"https://drive.google.com/drive/folders/1w193WYCUHIjnQV1halTkqRXXr88NGJc5"},"event":"fileCreated","options":{}},"id":"437cac12-a98d-439c-90ab-44431b493f66","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2100,420],"credentials":{"googleDriveOAuth2Api":{"id":"34Go7hPfrAGpQzoy","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1w193WYCUHIjnQV1halTkqRXXr88NGJc5","mode":"list","cachedResultName":"n8n documents","cachedResultUrl":"https://drive.google.com/drive/folders/1w193WYCUHIjnQV1halTkqRXXr88NGJc5"},"event":"fileUpdated","options":{}},"id":"1a31c2dc-1642-44b0-b527-0cec2dbcccf4","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2100,640],"credentials":{"googleDriveOAuth2Api":{"id":"34Go7hPfrAGpQzoy","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"9e0ec0f1-39d9-47db-b844-40996b95858f","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-980,520],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"b1b1b74a-cf21-4aa3-bda3-6fa19189426d","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-400,840]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"daa9ff7a-1939-4db2-8e6b-e8162ef2e89e","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,520],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"8762201b-ca9e-43d5-bf58-9872ba061ab0","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1820,520]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":465,"width":733},"id":"340573b4-b0c4-41f6-ba88-17de4b9b09f9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,-200]},{"parameters":{"public":true,"options":{}},"id":"7c6b959b-a4c4-4072-80ea-78f181e6f0c9","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-2020,-120],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"you are a customer support agent, answer users queries about our shopify store. behave like a human customer support agent .\n\ntools:\nuse the retrieve document tool to find the store's policies"}},"id":"ebb8c61a-50a0-485a-9352-18028fd9136e","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1700,-120]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"191f9368-2ef1-43dc-b928-2ac12ae554f4","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-520,420],"credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-1820,100],"id":"5f8eeb90-19cc-4ab8-a9c2-f794ff1b4f60","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"model":"inteltextembeddingada002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[-760,200],"id":"696eee47-d03d-4704-b911-4392e8a9a6fd","name":"Embeddings Azure OpenAI","credentials":{"azureOpenAiApi":{"id":"CflQMAzPkiFIyJGN","name":"Azure Open AI ada002 embedder"}}},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"19635165-90e8-4659-bd6d-9b5341e7f4a0","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-880,60],"credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-500,80],"id":"c91dea20-862c-4de4-987b-698b73051f18","name":"Azure OpenAI Chat Model1","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1620,100],"id":"cf5f3ff3-6e1d-4227-81cb-ca73793c8ae3","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"RqkjoqSETJ5Csr7n","name":"Postgres account"}}},{"parameters":{"model":"inteltextembeddingada002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[-620,640],"id":"ddbda5e1-988a-4eff-b2a1-46a77cea11b4","name":"Embeddings Azure OpenAI1","credentials":{"azureOpenAiApi":{"id":"CflQMAzPkiFIyJGN","name":"Azure Open AI ada002 embedder"}}}],"connections":{"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Embeddings Azure OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Azure OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Embeddings Azure OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"685b9e42-5670-4a96-a28e-893f641d4116","triggerCount":0,"tags":[]}