workflows/sync mysql with supabase-jRb8FjNp7X5J6QoK.n8n.json
{"createdAt":"2025-05-01T08:22:41.639Z","updatedAt":"2025-05-16T17:37:08.296Z","id":"jRb8FjNp7X5J6QoK","name":"sync mysql with supabase","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1200,660],"id":"c270eb5a-d00f-4863-b3bb-0cb85fe852a1","name":"When clicking ‘Test workflow’"},{"parameters":{"model":"inteltextembeddingada002","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi","typeVersion":1,"position":[-40,840],"id":"78689613-dd7e-48cf-ad84-54f690683973","name":"Embeddings Azure OpenAI","credentials":{"azureOpenAiApi":{"id":"CflQMAzPkiFIyJGN","name":"Azure Open AI ada002 embedder"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('get product data').item.json.text_description }}","options":{"metadata":{"metadataValues":[{"name":"product_id","value":"= {{ $('get product data').item.json.product_id }}"},{"name":"org_id","value":"={{ $('get product data').item.json.org_id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[120,860],"id":"27893f49-e035-4c85-a5be-45c16d05ede7","name":"Default Data Loader"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"products","mode":"list","cachedResultName":"products"},"options":{"queryName":"match_products"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[-40,660],"id":"f551abfc-e5d1-4aef-adb6-42e22dcb8313","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[120,1020],"id":"8fa1f0c5-932c-43df-9980-1ce84b4e2e4e","name":"Recursive Character Text Splitter"},{"parameters":{"operation":"delete","tableId":"products","filterType":"string","filterString":"=metadata->>product_id=like.*{{ $json.product_id }}*"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-340,460],"id":"364b0656-bc2b-4f09-ae2c-c6351df27ba8","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"m31vqIjcprlfz4qD","name":"Supabase account"}}},{"parameters":{"url":"https://nest.intelliassist.co/v1/products/getAll?limit=10&page=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1aWQiOiI1QnJyRmxFZXdlWXdabW94R0tMTkRnPT06NURuclBNTGEwaVFqRXFEK2t2U2ZuNnZPWnBmbEc3TTZNaU1ldDAzUE1tK25adXhrMXZ3SXdVZUY1MlU4RGt3UDpzIiwibmFtZSI6InZpbmVldCIsImVtYWlsIjoidmluZWV0a2hlbW5hbmkwOUBnbWFpbC5jb20iLCJvcmdJZCI6MjYsInJvbGUiOiIvK28wN1hCYXJzVHpGclBCaWpQeFh3PT06ZHNaaFNGSmVSY2ZHaWoxZkxwUXh4UT09OnMiLCJmdW5jdGlvbmFsaXRpZXMiOlsxLDIsMyw0LDUsNiw3LDgsOSwxMCwxMSwxMiwxMywxNCwxNSwxNiwxNywxOCwxOSwyMCwyMSwyMiwyMywyNCwyNSwyNiwyNywyOCwyOSwzMCwzMSwzMiw1OSw2MCwzMywzNCwzNSwzNiwzNywzOCwzOSw0MCw0MSw0Miw0Myw0NCw0NSw0Niw0Nyw0OCw0OSw1MCw1MSw1Miw1Myw1NCw1NSw1Niw1Nyw1OF0sImlhdCI6MTc0NjI1NjIxMiwiZXhwIjoxNzQ2MzQyNjEyfQ.i5L7ocWw25Ubx9usmPC2IGFrBo80TB8nOHoZIJdU_vM"},{"name":"Cookie","value":"ARRAffinity=ca73f7ceb97227cd443fc5fb5ee6f8bbafbaa7f2ca5a209c491ad2b7e83c8c35; ARRAffinitySameSite=ca73f7ceb97227cd443fc5fb5ee6f8bbafbaa7f2ca5a209c491ad2b7e83c8c35"},{"name":"cookie","value":"ARRAffinity=ca73f7ceb97227cd443fc5fb5ee6f8bbafbaa7f2ca5a209c491ad2b7e83c8c35;ARRAffinitySameSite=ca73f7ceb97227cd443fc5fb5ee6f8bbafbaa7f2ca5a209c491ad2b7e83c8c35;"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1000,660],"id":"37652ad5-0b1a-47bc-b344-d8114a575dae","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,680],"id":"5451e8fa-8777-4838-b578-12f6b85a2ad6","name":"Loop Over Items1"},{"parameters":{"language":"python","pythonCode":"import json\nfrom bs4 import BeautifulSoup\n\norg_id = _input.first().json.org_id\nproduct_id=_input.first().json.product_id\n\nsoup = BeautifulSoup(_input.first().json.body_html, 'html.parser')\ntext_description = soup.get_text(separator=' ', strip=True)\n\nreturn [{\"org_id\": org_id,\n         \"product_id\":product_id,\n         \"text_description\":text_description\n        }]\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,820],"id":"c37b0a04-49cb-4838-831e-6ffc11bb8534","name":"get product data"},{"parameters":{"jsCode":"const data=$input.first().json.data\n\nconst result = data.products.map(item => ({\n  org_id: item.org_id,\n  product_id: item.pid,\n  body_html: item.metadata?.body_html \n}));\n\nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-840,660],"id":"068ead96-b249-4816-9404-b5e8c982a812","name":"sanitise api response"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Embeddings Azure OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Supabase":{"main":[[]]},"HTTP Request":{"main":[[{"node":"sanitise api response","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Supabase","type":"main","index":0},{"node":"Supabase Vector Store","type":"main","index":0}],[{"node":"get product data","type":"main","index":0}]]},"get product data":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"sanitise api response":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"36ab9210-275d-4efd-a423-d144d61ea30e","triggerCount":1,"tags":[]}