workflows/webhook triggered customer support-IkFs6TACoh83jlmb.n8n.json
{"createdAt":"2025-04-24T10:41:22.950Z","updatedAt":"2025-04-30T06:23:17.949Z","id":"IkFs6TACoh83jlmb","name":"webhook triggered customer support","active":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.body.userQuery }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[480,60],"id":"91a6480d-3b32-4e33-98c6-c7afb6dc8b8f","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[180,320],"id":"554f4945-bc28-4997-845a-6ea2bcfc691f","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"descriptionType":"manual","toolDescription":"this tool has all the data about the products available on the store\n","authentication":"accessToken","resource":"product","operation":"getAll","additionalFields":{}},"type":"n8n-nodes-base.shopifyTool","typeVersion":1,"position":[500,440],"id":"b6033bc9-496b-4305-a54a-da7a7b1aca00","name":"Shopify","credentials":{"shopifyAccessTokenApi":{"id":"py2JQ4BILXFybIgI","name":"Shopify Access Token account"}}},{"parameters":{"name":"get_order_data","description":"call this tool to get shopify customer order data. the input must provide an email","workflowId":{"__rl":true,"value":"LdzllH4oj6UM6Ie6","mode":"list","cachedResultName":"get costomer order data"},"workflowInputs":{"mappingMode":"defineBelow","value":{"email":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"order_name","displayName":"order_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.1,"position":[660,340],"id":"364def1d-2e3f-42da-b927-72cb2994418c","name":"Call n8n Workflow Tool"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=9999 {{ $json.body.userId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[360,340],"id":"7c2679b7-fe13-4974-9658-1fb144fd05ee","name":"Simple Memory"},{"parameters":{"httpMethod":"POST","path":"ask","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-60,60],"id":"3a125e29-c477-4732-ba88-e3bc94b3ec94","name":"Webhook","webhookId":"2ec0acc2-1965-4c1b-a22d-832c63b4b0dc"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-100,-160],"id":"9ffb9b25-06c3-4b44-80da-eae8ca0f6847","name":"When clicking ‘Test workflow’"}],"connections":{"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Shopify":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1745854124,"possibleDuplicates":["1967d03e19c3d8ff"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"AI Agent":[{"json":{"output":"Hi there! 😊 Is there anything specific you'd like help with?"}}]},"versionId":"56417ce0-c12e-4470-a716-a8e5279bd9b8","triggerCount":1,"tags":[]}