workflows/youtube comments-qzt3EkCYrPfqnd86.n8n.json
{"createdAt":"2025-05-21T06:58:48.662Z","updatedAt":"2025-05-22T19:19:13.443Z","id":"qzt3EkCYrPfqnd86","name":"youtube comments","active":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"youtube/generateComment","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,60],"id":"e0b944ce-f885-40a4-9d26-1f0124ec0909","name":"Webhook","webhookId":"ad324262-15fa-481f-9743-7b819789d0e3"},{"parameters":{"language":"python","pythonCode":"data= _input.first().json.body\nreturn data"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,60],"id":"d4a1698f-1890-4ef3-a473-1e957a607693","name":"Code"},{"parameters":{"promptType":"define","text":"=analyse this comment thread from the comment section of a youtube video,\n{{ $json.commentThread.toJsonString() }}\n\ntry to come up with a comment that can be useful for the users, make sure the comment is in context of the provided comment thread. \n\nalso subtly try to pitch products from the shopify store which can help people accoring to their needs, when suggesting products,include product link as well.make sure only the product link is included, do not include the image links or any other other links. use the shopify tool to find product details. dont sound very salesy or pushy ","options":{"systemMessage":"=you are a polite doctor, help users with their queries and suggest products, respond in a short message with up to 70 words, don't reply into a big paragraph. \nmake sure you strictly respond in the following json structure\n{\n\"thread_id\": \"{{ $json.commentThread.id }}\",\n\"message\": \"<suggested comment content>\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-280,60],"id":"28b44854-abbf-4043-8aff-0800a10ed73c","name":"AI Agent"},{"parameters":{"model":"intelgpt4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[-300,280],"id":"89a1af86-fb2a-40dd-8bf6-da6654abd7e5","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"HXWAquqkGnZYbN9F","name":"Azure Open AI gpt 4o"}}},{"parameters":{"authentication":"accessToken","resource":"product","operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', `fetch the details of products, so that the LLM can understand the product better and suggest it to users.`, 'boolean') }}","additionalFields":{}},"type":"n8n-nodes-base.shopifyTool","typeVersion":1,"position":[-120,360],"id":"65834f9a-4ce7-48c9-a334-e56450fcdf6c","name":"Shopify","credentials":{"shopifyAccessTokenApi":{"id":"XPte4sx1G8oBM9l6","name":"sugarmd"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[80,60],"id":"ffce2359-d01d-4253-88d4-737cd5fc866a","name":"Aggregate"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// const result=[]\n// for (const item of $input.first().json.output) {\n//   const parsedItem = JSON.parse(item);\n//   result.push(parsedItem)\n  \n// }\n\n// return result\n\n\nconst result = [];\n\nfor (const item of $input.first().json.output) {\n  // Remove Markdown backticks and language identifier\n  const cleaned = item\n    .replace(/```json\\n?/, '')  // remove starting ```json or ```json\\n\n    .replace(/```$/, '')        // remove ending ```\n    .trim();                    // remove any surrounding whitespace\n\n  const parsedItem = JSON.parse(cleaned);\n  \n  const comment ={\n    thread_id:parsedItem.thread_id,\n    message:parsedItem.message\n  }\n  result.push({comment:comment});\n}\n\n// return result.map(data => ({ json: data }));\nreturn result"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,60],"id":"6df31662-d35b-42de-834f-6705c5d87bd4","name":"Code1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"comment"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[520,60],"id":"8fd18875-6880-4fbf-a38a-6784d94146ab","name":"Aggregate1"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Shopify":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dad7bbd3-ef7b-4dc5-be35-64d065123747","triggerCount":1,"tags":[]}